@media (max-width: 575px) {
    .container-main {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media (min-width: 768px) {
    .container-main {
        width: 760px;
    }
}

@media (min-width: 992px) {
    .container-main {
        width: 760px;
    }
}

@media (min-width: 1200px) {
    .container-main {
        width: 760px;
    }
}

@media (min-width: 768px) {
    .container-form {
        width: 800px;
    }
}
@media (max-width: 767px) {
    .container-xl{
        padding-left: 0;
        padding-right: 0;
    }

    .container-xl > .row, .container-xl > .row > .col-lg-8{
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .container-form {
        width: 800px;
    }
}

@media (min-width: 1080px) {
    .container-form {
        width: 800px;
    }

    .container-xl{
        width: 1080px;
    }
}