@media (max-width: 575px) {
    .container-main {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media (min-width: 768px) {
    .container-main {
        width: 760px;
    }
}

@media (min-width: 992px) {
    .container-main {
        width: 760px;
    }
}

@media (min-width: 1200px) {
    .container-main {
        width: 760px;
    }
}

@media (min-width: 768px) {
    .container-form {
        width: 800px;
    }
}

@media (min-width: 992px) {
    .container-form {
        width: 800px;
    }
}

@media (min-width: 1200px) {
    .container-form {
        width: 800px;
    }
}