<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header"/>

<body>
<div th:replace="fragments/topHeader :: topHeader"/>
<!--<div th:replace="fragments/subHeader :: subHeader"/>-->


<div class="container container-custom col-md">

    </br>
    <div class="py-2 row">
        <h4>발언 수정</h4>
    </div>
    </br>

    <div class="row g-3" th:object="${form}">
        <input type="hidden" id="remarkId" th:value="${remarkId}">

        <!-- 발언 내용 -->
        <div class="col-12">
            <label for="content" class="form-label">발언 내용</label>
            <textarea th:text="${form.content}" name="content" id="content" class="form-control" rows="10x"></textarea>
        </div>

        <!-- 발언 날짜 -->
        <div class="col-12">
            <label class="form-label">발언 날짜</label>
            <input th:value="${form.remarkDate}" type="date" name="remarkDate" id="remarkDate" class="form-control">
        </div>

        <!-- 태그 -->
        <div class="col-12">
            <label class="form-label" th:for="jasonArrayTags">키워드</label>
            <input name="jasonArrayTags" id="jasonArrayTags" class='tagify--outside'>
            <input th:each="tagName : ${form.tags}" class="hiddenInputTags" th:id="'tagName-'+${tagNameStat.index}"
                   type="hidden"
                   th:value="${tagName.name}">
            <div id="whitelist" th:text="${whitelist}" hidden></div>
        </div>

        <hr class="my-4">
        <h5>출처</h5>

        <!-- 소스 -->
        <!--소스 sort-->
        <div class="col-4">
            <label for="sourceSort" class="form-label">종류</label>
            <select class="form-select" id="sourceSort" th:field="*{sourceSort}">
                <option th:value="영상">영상</option>
                <option th:value="SNS">SNS</option>
                <option th:value="기사">기사</option>
                <option value="">없음</option>
            </select>
            <!--<input th:value="${form.sourceSort}" type="text" class="form-control" placeholder="ex)유튜브, 기사 등..."
                   id="sourceSort">-->
        </div>

        <!--소스 url-->
        <div class="col-8">
            <label for="sourceUrl" class="form-label">URL</label>
            <input th:value="${form.sourceUrl}" type="text" name="sourceUrl" class="form-control" placeholder="링크"
                   id="sourceUrl">
        </div>

        <hr class="my-4">

        <!-- 버튼 -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary me-md-2" id="btn-save">저장</button>
            <a href="javascript:history.back();" class="btn btn-outline-secondary">취소</a>
            <div></div>
        </div>
    </div>
    <!--</form>-->
</div>
<br/>


<!-- tagify js-->
<script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<script src="/node_modules/@yaireo/dragsort/dist/dragsort.js"></script>

<script type="application/javascript">
    let tagsLength = $(".hiddenInputTags").length;
    let tagNames = [];

    /* 저장된 태그 불러오기 */
    getTagsName();

    // init Tagify script on the above inputs
    var input = document.querySelector('.tagify--outside');
    tagify = new Tagify(input, {
        pattern: /^.{0,20}$/,
        whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
        maxTags: 10
    });

    //dragsort
    var dragsort = new DragSort(tagify.DOM.scope, {
        selector: '.' + tagify.settings.classNames.tag,
        callbacks: {
            dragEnd: onDragEnd
        }
    })

    function onDragEnd(elm) {
        tagify.updateValueByDOMTags()
    }


    //태그들의 값을 input태그의 value에 넣어주기
    function getTagsName() {
        for (i = 0; i < tagsLength; i++) {
            let tagId = "tagName-" + i;
            let tagName = $('#' + tagId).val();
            tagNames.push(tagName);
        }
        $('#jasonArrayTags').val(tagNames);
    }


    //저장버튼
    $('#btn-save').on('click', function () {

        let id = $('#remarkId').val();

        let data = {
            content: $('#content').val(),
            remarkDate: $('#remarkDate').val(),
            jasonArrayTags: $('#jasonArrayTags').val(),
            sourceSort: $('#sourceSort').val(),
            sourceUrl: $('#sourceUrl').val()
        }

        if (validate(data)) {
            $.ajax({
                type: 'PUT',
                url: '/api/remark/' + id,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function () {
                alert('발언이 수정되었습니다.');
                window.location.href = '/remark/' + id;
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
        return false;
    });

    function validate(data) {
        const blank_pattern = /^\s+|\s+$/g;

        if (!data.content || data.content.replace(blank_pattern, "") == "") {
            alert("본문 내용을 입력해주세요.")
            return false;
        } else if (!data.remarkDate) {
            alert("발언 일자를 입력해주세요.")
            return false;
        }
        return true;
    }
</script>


<div th:replace="fragments/footer :: footer"/>
</body>
</html>