<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/topHeader :: topHeader"/>
<div th:replace="fragments/subHeader :: subHeader"/>
<div class="container container-custom">
    <div class="remark-page-wrap">

        <div id="remark-scroll-position" class="py-2 d-flex justify-content-between align-items-center"
             style="grid-template-columns: 1fr 2fr;">
            <div class="remark-page-count d-flex align-items-baseline page-item"></div>
            <div class="remark-title d-flex align-items-center">
                <select class="form-select form-select-sm" id="remark-sorting" th:onchange="|main.loadRemark(${page})|">
                    <option value="cd_d">등록순</option>
                    <option value="rm_d">최근 발언순</option>
                    <option value="rm_a">과거 발언순</option>
                </select>
            </div>
        </div>

        <input id="search-pageNum" type="hidden" th:value="${page}">
        <!-- 코멘트테이블 -->
        <div id="remark-table-wrap">
            <div id="remark-table">
            </div>
        </div>

        <!-- 페이지네이션 -->
        <div class="remark-pagination" id="remark-pagination-container">
        </div>

    </div>
</div>
</div>


<script src="/js/admin/remark/remarkList.js?ver=2021_09_15_001"></script>
<script>
    window.onpopstate = function (event) {
        if (main.oldHstate != null && main.oldHstate.page) {
            main.loadRemark(main.oldHstate.page);
        }
    }
</script>
<script>
</script>
<div th:replace="fragments/shareModal :: shareModal"/>
<div th:replace="fragments/footer :: footer"/>

</div>
</div>
</body>
</html>