<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/header :: header(title=|${remark.name} 발언 &#34;${remark.remarkSummaryForTitle}&#34;|, content=${remark.remarkSummary})">
<body>
<div th:replace="fragments/loginHeader :: loginHeader"></div>
<div th:replace="fragments/topHeader :: topHeader"></div>
<div th:replace="fragments/subNavbar :: subNavbar"></div>

<div class="container-xl">
    <div class="row">
        <div class="col-lg-8">
            <div class="remark-page-wrap">

                <div id="r-l-table-container" class="r-d-table-container">
                    <div id="r-l-table">
                        <div class="r-l-t-row-container r-d-t-row-container row" th:object="${remark}">
                            <div class="r-l-t-first-row-container d-flex justify-content-between">

                                <div class="r-l-t-picture-container r-l-t-first-col">
                                    <div class="r-l-t-picture-wrap">
                                        <a class="r-l-t-picture-link r-d-t-picture-link d-flex align-items-center justify-content-center"
                                           th:href="@{/person/{personId}(personId=*{personId})}">
                                            <i class="r-l-t-picture r-d-t-picture fas fa-user-alt"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="r-l-t-title-container r-l-t-second-col col">
                                    <div class="r-l-t-first-row-container">
                                        <div class="r-l-t-person-and-date-container">
                                            <!-- 이름 -->
                                            <a class="r-d-t-person-name-link"
                                               th:href="@{/person/{personId}(personId=*{personId})}">
                                                <span class="r-l-t-person-name r-d-t-person-name" th:text="*{name}"></span>
                                            </a>
                                            <!-- 다른이름, 직업, 날짜 -->
                                            <span class="r-l-t-person-job" th:text="*{job}"></span>
                                            <span class="r-l-t-date-divider">·</span>
                                            <div class="r-l-t-date-container">
                                                <span class="r-l-t-date" th:text="|*{remarkDate}|"></span>
                                                <span class="r-l-t-info-icon r-d-t-info-icon tt bi bi-info-circle"
                                                      data-bs-html="true" data-bs-placement="right"
                                                      th:title="|<div class='d-flex align-items-center justify-content-center'>
                                                            <span class='r-l-t-info-nickname'>작성자 : *{nickname}</span></div>
                                                            <div><span class='r-l-t-info-date'>*{createdDate} 등록됨</span></div>|">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="r-l-t-first-row-third-col d-flex justify-content-end">
                                            <a th:if="*{isBookmarked > 0}"
                                               class="r-l-t-btn r-d-t r-l-t-bookmark-btn btn bookmark-active"
                                               th:onclick="|saveOrDeleteBookmark(this,*{remarkId})|" href="javascript:;">
                                                <div class="r-l-t-btn-icon-wrap bookmark-icon-wrap tt" title="스크랩 취소"
                                                     data-bs-trigger="hover" data-bs-placement="bottom">
                                                    <i class="r-l-t-btn-icon r-l-t-bookmark-icon r-d-t icon-bookmark fill"></i>
                                                </div>
                                            </a>
                                            <a th:unless="*{isBookmarked > 0}"
                                               class="r-l-t-btn r-d-t r-l-t-bookmark-btn btn"
                                               th:onclick="|saveOrDeleteBookmark(this,*{remarkId})|" href="javascript:;">
                                                <div class="r-l-t-btn-icon-wrap bookmark-icon-wrap tt" title="스크랩"
                                                     data-bs-trigger="hover" data-bs-placement="bottom">
                                                    <i class="r-l-t-btn-icon r-l-t-bookmark-icon r-d-t icon-bookmark"></i>
                                                </div>
                                            </a>

                                            <a class="r-l-t-share-btn r-d-t share-btn r-l-t-btn btn " href=""
                                               th:onclick="|openShareModal(this, *{remarkId})|"
                                               th:data-name="*{name}" th:data-date="*{remarkDate}" data-index="999"
                                               data-bs-toggle="modal" data-bs-target="#shareModal">
                                                <div class="r-l-t-btn-icon-wrap share-icon-wrap d-flex align-items-center">
                                                    <i class="r-l-t-btn-icon icon-more-horiz"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="r-l-t-tag-container d-flex align-items-top">
                                        <div class="r-l-t-tags-wrap">
                                            <a th:class="|r-l-t-category r-d-t-category *{catClassName}|" th:text="*{category}"></a><a class="r-l-t-tags r-d-t-tags" th:each="tag : *{remarkTagList}" th:href="@{/remark(keyword=${tag.name}, tab=3)}"><span th:text="|#${tag.name}|"></span></a>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="r-l-t-second-row-container r-d-t-second-row-container d-flex">

                                <div class="r-l-t-quote-icon-container r-l-t-first-col col-1">
                                    <div class="r-l-t-quote-icon-wrap r-d-t-quote-icon-wrap">
                                        <i class="r-l-t-quote-icon fas fa-quote-left" style="margin-right: 0"></i>
                                    </div>
                                </div>

                                <div class="r-l-t-content-container r-d-t r-l-t-second-col d-flex">
                                    <p class="r-l-t-content r-d-t-content"
                                       th:text="*{content}" th:data-source="*{sourceUrl}" id="remark-content-999"></p>
                                </div>

                            </div>

                            <div id="cmCont" class="r-l-t-last-row-container">
                                <div class="r-l-t-source-wrap">
                                    <a class="r-l-t-source r-d-t tt" th:href="*{sourceUrl}" th:text="*{sourceUrl}" data-bs-trigger="hover" data-bs-placement="bottom" title="출처" target="_blank" rel="noopener noreferer nofollow"></a>
                                </div>

                                <div class="r-l-t-last-row-btn-container">
                                    <a class="r-l-t-btn r-d-t r-l-t-like-btn btn like-active"
                                       sec:authorize="isAuthenticated()" th:if="*{isLike eq 1}"
                                       th:id="|like-btn-*{remarkId}|"
                                       href="javascript:;"
                                       th:onclick="|like(this, *{remarkId}, 1)|">
                                        <div class="r-l-t-btn-icon-wrap like-icon-wrap tt" title="좋아요 취소"
                                             data-bs-trigger="hover" data-bs-placement="bottom">
                                            <i class="r-l-t-like-icon like-icon r-l-t-btn-icon r-d-t icon-thumb-up fill"></i>
                                            <span th:id="|like-count-*{remarkId}|"
                                                  class="r-l-t-btn-text r-d-t r-l-t-like-count like-count"
                                                  th:text="*{likeCount}"></span>
                                        </div>
                                    </a>
                                    <a th:unless="*{isLike eq 1}" th:id="|like-btn-*{remarkId}|"
                                       class="r-l-t-btn r-d-t r-l-t-like-btn" href="javascript:;"
                                       th:onclick="|like(this, *{remarkId}, 1)|">
                                        <div class="r-l-t-btn-icon-wrap like-icon-wrap tt" title="좋아요"
                                             data-bs-trigger="hover" data-bs-placement="bottom">
                                            <i class="r-l-t-like-icon like-icon r-l-t-btn-icon r-d-t icon-thumb-up"></i>
                                            <span th:id="|like-count-*{remarkId}|"
                                                  class="r-l-t-btn-text r-d-t r-l-t-like-count like-count"
                                                  th:text="*{likeCount}"></span>
                                        </div>
                                    </a>

                                    <a sec:authorize="isAuthenticated()" th:if="*{isLike eq -1}"
                                       th:id="|dislike-btn-*{remarkId}|"
                                       class="r-l-t-dislike-btn r-l-t-btn r-d-t btn like-active" href="javascript:;"
                                       th:onclick="|like(this, *{remarkId}, -1)|">
                                        <div class="r-l-t-btn-icon-wrap dislike-icon-wrap tt" title="싫어요 취소"
                                             data-bs-trigger="hover" data-bs-placement="bottom">
                                            <i class="r-l-t-dislike-icon dislike-icon r-l-t-btn-icon r-d-t icon-thumb-down fill"></i>
                                            <span th:id="|dislike-count-*{remarkId}|"
                                                  class="r-l-t-btn-text r-d-t r-l-t-dislike-count dislike-count"
                                                  th:text="*{dislikeCount}">
                                    </span>
                                        </div>
                                    </a>
                                    <a th:unless="*{isLike eq -1}" th:id="|dislike-btn-*{remarkId}|"
                                       class="r-l-t-dislike-btn r-d-t r-l-t-btn btn" href="javascript:;"
                                       th:onclick="|like(this, *{remarkId}, -1)|">
                                        <div class="r-l-t-btn-icon-wrap dislike-icon-wrap tt" title="싫어요"
                                             data-bs-trigger="hover" data-bs-placement="bottom">
                                            <i class="r-l-t-dislike-icon dislike-icon r-l-t-btn-icon r-d-t icon-thumb-down"></i>
                                            <span th:id="|dislike-count-*{remarkId}|"
                                                  class="r-l-t-btn-text r-d-t r-l-t-dislike-count dislike-count"
                                                  th:text="*{dislikeCount}">
                                    </span>
                                        </div>
                                    </a>

                                    <a class="r-l-t-btn r-d-t r-l-t-comment-count-btn btn tt" title="댓글"
                                       data-bs-trigger="hover" data-bs-placement="bottom"
                                       th:href="@{/remark/{id}#cmCont(id=*{remarkId})}" onclick="toggleComment()">
                                        <div class="r-l-t-btn-icon-wrap">
                                            <i class="r-l-t-btn-icon r-d-t r-l-t-last-row-comment-count-icon icon-comment-empty"></i>
                                            <span class="r-l-t-comment-count r-l-t-btn-text r-d-t"
                                                  th:text="*{commentCount}"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>



                            <div class="r-c-table-container" id="comment-container">
                                <hr class="r-l-t-border-bottom">
                                <div class="r-c-table-inner-container">
                                    <div class="r-c-count">
                                        댓글 <span class="r-c-count-number r-d-changing-comment-count"
                                                 th:text="*{commentCount}"></span>
                                    </div>
                                    <div class="r-c-table" id="comment-table"></div>

                                    <div class="r-c-pagination-container" id="comment-pagination"></div>

                                    <div class="r-c-pagination-container" id="comment-pagination-sm"></div>

                                    <div sec:authorize="hasAnyRole('ADMIN,USER')" class="r-c-t-textarea-container">
                                        <div class="r-c-t-textarea-wrap">
                                    <textarea id="cmTextarea" class="r-c-t-textarea form-control" rows="3" maxlength="300"
                                              placeholder="댓글을 입력하세요."></textarea>
                                            <div class="d-flex justify-content-end">
                                                <button class="r-c-t-save-btn btn btn-sm"
                                                        th:onclick="|submitCm(this,*{remarkId})|">
                                                    등록
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div sec:authorize="isAnonymous()" class="r-c-t-textarea-container">
                                        <!--<div>
                                            <span class="r-c-t-textarea-label">댓글쓰기</span>
                                        </div>-->
                                        <a href="/oauth_login"><textarea
                                                class="r-c-t-textarea form-control r-c-t-textarea-disabled" readonly
                                                rows="3"
                                                placeholder="댓글을 입력하시려면 로그인 하세요."></textarea></a>
                                        <div class="d-flex justify-content-end">
                                            <button disabled class="r-c-t-save-btn btn btn-sm">등록</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="d-flex justify-content-end r-d-t-bottom-btn-container">
                    <div sec:authorize="hasRole('ADMIN')"
                         class="remark-delete-and-update-btn-wrap d-flex align-items-center">
                        <!-- 수정 버튼 -->
                        <a class="btn btn-outline-secondary btn-sm me-2"
                           th:href="@{/remark/{remarkId}/update(remarkId=*{remarkId})}">수정</a>
                        <!-- 삭제 버튼 -->
                        <button class="btn btn-outline-danger btn-sm btn-delete me-2"
                                th:onclick="|deleteRemark(*{remarkId})|">삭제
                        </button>
                    </div>
                    <!--<a class="btn btn-outline-secondary btn-sm" href="javascript:history.back();">이전</a>-->
                </div>

            </div>
        </div>
        <div th:replace="fragments/aside :: aside"/>

    </div>


</div>
</div>
</div>
<!-- Modal -->
<div th:replace="fragments/shareModal :: shareModal"/>
<div th:replace="fragments/reportingCmModal :: reportingCmModal"/>
<div th:replace="fragments/footer :: footer"/>
<script src="/node_modules/autosize/dist/autosize.js"></script>
<script>
    autosize(document.querySelector('textarea'));

    function toList() {
        window.location.href = '/remark';
    }

</script>
<script sec:authorize="isAuthenticated()" th:inline="javascript">
    const sid = /*[[ ${session.user.id} ]]*/,
        rdRemarkId = /*[[ *{remarkId} ]]*/,
        size = 40,
        blank_pattern = /^\s+|\s+$/g,
        commentCountForInit = /*[[ ${remark.commentCount} ]]*/,
        commentPageForInit = Math.ceil(commentCountForInit / size);
    let currentCmPage = commentPageForInit;

</script>

<script sec:authorize="isAnonymous()" th:inline="javascript">
    const sid = '',
        rdRemarkId = /*[[ *{remarkId} ]]*/,
        size = 40,
        blank_pattern = /^\s+|\s+$/g,
        commentCountForInit = /*[[ ${remark.commentCount} ]]*/,
        commentPageForInit = Math.ceil(commentCountForInit / size);

    let currentCmPage = commentPageForInit;
</script>

<script>
    function loadComments(page) {
        if (page > 0) {
            $.getJSON(`/api/remark/${rdRemarkId}/comment?page=${page}&size=${size}`, function (data) {
                document.querySelector("#comment-table").innerHTML = toCommentTable(data);
                document.querySelector("#comment-pagination").innerHTML = toPagination(data.pageMetadata);
                document.querySelector("#comment-pagination-sm").innerHTML = toPaginationSm(data.pageMetadata);
                currentCmPage = page;
                addPaging();
                addDeleteCmBtn();
            });
        }
    }

    function toCommentTable(data) {
        let row = '',
            comments = data.comments.content;

        if (comments.length > 0) {
            comments.forEach(c => {
                if (c.parentId != null && c.ancestorId != null) {
                    if (c.userId === sid) {
                        row += "<div id='comment-" + c.commentId + "' class=\"r-c-t-row-container r-c-t-row-reply-container r-c-t-row-mine-container\" data-cid='" + c.commentId + "' data-aid='" + c.ancestorId + "' data-pid='" + c.parentId + "'>";
                    } else {
                        row += "<div id='comment-" + c.commentId + "' class=\"r-c-t-row-container r-c-t-row-reply-container\" data-cid='" + c.commentId + "' data-aid='" + c.ancestorId + "' data-pid='" + c.parentId + "'>";
                    }
                } else {
                    if (c.userId === sid) {
                        row += "<div id='comment-" + c.commentId + "' class=\"r-c-t-row-container r-c-t-row-mine-container \" data-cid='" + c.commentId + "'>";
                    } else {
                        row += "<div id='comment-" + c.commentId + "' class=\"r-c-t-row-container\" data-cid='" + c.commentId + "'>";
                    }
                }
                row += "<div class=\"r-c-t-first-row-container d-flex justify-content-between\">";
                row += "<div class=\"r-c-t-first-row-first-col-container d-flex align-items-baseline\">";

                if (c.parentId != null) {
                    row += "<div id='comment-writer-" + c.commentId + "' class=\"r-c-t-comment-writer\"><i class=\"r-c-t-comment-reply-icon fas fa-level-up-alt fa-rotate-90\"></i>" + c.nickname + "</div>";
                } else {
                    row += "<div id='comment-writer-" + c.commentId + "' class=\"r-c-t-comment-writer\">" + c.nickname + "</div>";
                }

                if (c.status === "UPDATED") {
                    row += "<div class=\"r-c-t-comment-date\">" + c.createdDate + "(수정됨)</div>";
                } else {
                    row += "<div class=\"r-c-t-comment-date\">" + c.createdDate + "</div>";
                }
                row += "</div>";


                row += "<div class=\"r-c-t-etc-btn-container\">";

                row += "<a class='r-c-t-etc-btn dropdown-toggle' id='commentDropdown' data-bs-toggle=\"dropdown\" aria-expanded=\"false\">";
                row += "<i class='icon-more-vert'></i>";
                row += "</a>";

                row += "<ul class='r-c-t-etc-dropdown-menu dropdown-menu' aria-labelledby='commentDropdown'>";
                if (sid === c.userId && c.status !== "DELETED_ANCESTOR") {
                    row += "<li>";
                    row += "<a class='r-c-t-modify-btn dropdown-item' onclick='openCmModifyTextArea(" + c.commentId + ")'><i class=\"r-c-t-etc-btn-icon r-c-t-modify-btn-icon bi bi-pencil-square\"></i>수정</a>";
                    row += "</li>";
                    row += "<li>";
                    row += "<a class='r-c-t-delete-btn dropdown-item' data-cid='" + c.commentId + "'><i class=\"r-c-t-etc-btn-icon r-c-t-delete-btn-icon bi bi-trash\"></i>삭제</a>";
                    row += "</li>";
                }
                row += "<li>";
                row += "<a class='r-c-t-report-btn dropdown-item' data-bs-toggle='modal' data-bs-target='#reportingCmModal' onclick='openReportingModal(" + c.commentId + ")'><i class=\"r-c-t-etc-btn-icon bi bi-flag\"></i>신고</a>";
                row += "</li>";


                row += "</ul>";

                row += "</div>";




                row += "</div>";

                row += "<div class=\"r-c-t-comment-content-wrap\">";

                if (c.parentId != null) {
                    if (c.status === "DELETED_ANCESTOR") {
                        row += "<pre id='comment-content-" + c.commentId + "' class=\"r-c-t-comment-content deleted-comment\"><span class='r-c-t-comment-parent-nickname'>@" + c.parentWriter + "</span>" + c.content + "</pre>";
                    } else {
                        row += "<pre id='comment-content-" + c.commentId + "' class=\"r-c-t-comment-content\"><span class='r-c-t-comment-parent-nickname'>@" + c.parentWriter + "</span>" + c.content + "</pre>";
                    }
                } else {
                    if (c.status === "DELETED_ANCESTOR") {
                        row += "<pre id='comment-content-" + c.commentId + "' class=\"r-c-t-comment-content deleted-comment\">" + c.content + "</pre>";
                    } else {
                        row += "<pre id='comment-content-" + c.commentId + "' class=\"r-c-t-comment-content\">" + c.content + "</pre>";
                    }
                }

                row += "</div>";

                row += "<div class='r-c-t-last-row-btn-container'>";
                if (sid !== '' && c.parentId != null) {
                    row += "<a id='openCmReplyBtn-" + c.commentId + "' onclick='openCmReplyTextarea(this)' class='r-c-t-reply-btn' data-writer='" + c.nickname + "' data-aid='" + c.ancestorId + "' data-cid='" + c.commentId + "'><i class=\"r-c-t-etc-btn-icon icon-comment\"></i>답글</a>";
                } else if (sid !== '' && c.parentId === null) {
                    row += "<a id='openCmReplyBtn-" + c.commentId + "' onclick='openCmReplyTextarea(this)' class='r-c-t-reply-btn' data-writer='" + c.nickname + "' data-cid='" + c.commentId + "'><i class=\"r-c-t-etc-btn-icon icon-comment\"></i>답글</a>";
                }

                row += "</div>";



                row += "</div>";
            })
            /*row += "<hr class='r-l-t-border-bottom'>";*/
        }
        return row;
    }

    function toPagination(data) {
        let row = '';

        row += "<nav aria-label='Page navigator'>";

        if (data.totalPages > 1) {
            row += "<ul class='pagination pagination-sm d-flex'>";

            if (!data.first) {
                row += "<li class='page-item page-chevron-left'>";
                row += "<a class='page-link' data-page='" + (data.page - 1) + "'>";
                row += "<span><i class='fas fa-chevron-left'></i></span>";
                row += "</a>";
                row += "</li>";
            } else {
                row += "<li class='page-item page-chevron-left disabled'>";
                row += "<a class='page-link'>";
                row += "<span><i class='fas fa-chevron-left'></i></span>";
                row += "</a>";
                row += "</li>";
            }
            if (data.startBlock > 1) {
                row += "<li class='page-item'>";
                row += "<a class='page-link' data-page='1'>1</a>";
                row += "</li>";
            }

            if (data.startBlock > 0) {
                for (let pages = data.startBlock; pages <= data.endBlock; pages++) {
                    if (pages === data.page) {
                        row += "<li class='page-item active'>";
                        row += "<span class='page-link'>" + pages + "</span>";
                        row += "</li>";
                    } else {
                        row += "<li class='page-item'>";
                        row += "<a class='page-link' data-page='" + pages + "'>" + pages + "</a>";
                        row += "</li>";
                    }
                }
            }

            if (!(data.endBlock - data.startBlock) < 9 && data.endBlock !== data.totalPages) {
                row += "<li class='page-item disabled'><span class='page-link'>...</span></li>";
                row += "<li class='page-item'>";
                row += "<a class='page-link' data-page='" + data.totalPages + "'>" + data.totalPages + "</a>";
                row += "</li>";
                row += "</li>";
            }

            if (!data.last && data.totalElements !== 0) {
                row += "<li class='page-item page-chevron-right'>";
                row += "<a class='page-link' data-page='" + (data.page + 1) + "'>";
                row += "<span><i class='fas fa-chevron-right'></i></span>";
                row += "</a>";
                row += "</li>";
            } else if (data.last && data.totalElements !== 0) {
                row += "<li class='page-item page-chevron-right disabled'>";
                row += "<a class='page-link'>";
                row += "<span><i class='fas fa-chevron-right'></i></span>";
                row += "</a>";
                row += "</li>";
            }
            row += "</ul>";
        }
        row += "</nav>";

        return row;
    }

    function toPaginationSm(data) {
        let row = '';

        row += "<nav aria-label='Page navigator'>";

        if (data.totalPages > 1) {
            row += "<ul class='pagination pagination-sm d-flex'>";

            if (!data.first) {
                row += "<li class='page-item page-chevron-left'>";
                row += "<a class='page-link' data-page='" + (data.page - 1) + "'>";
                row += "<span><i class='fas fa-chevron-left'></i></span>";
                row += "</a>";
                row += "</li>";
            } else {
                row += "<li class='page-item page-chevron-left disabled'>";
                row += "<a class='page-link'>";
                row += "<span><i class='fas fa-chevron-left'></i></span>";
                row += "</a>";
                row += "</li>";
            }
            if (data.startBlock_sm > 1) {
                row += "<li class='page-item'>";
                row += "<a class='page-link' data-page='1'>1</a>";
                row += "</li>";
            }

            if (data.startBlock_sm > 0) {
                for (let pages = data.startBlock_sm; pages <= data.endBlock_sm; pages++) {
                    if (pages === data.page) {
                        row += "<li class='page-item active'>";
                        row += "<span class='page-link'>" + pages + "</span>";
                        row += "</li>";
                    } else {
                        row += "<li class='page-item'>";
                        row += "<a class='page-link' data-page='" + pages + "'>" + pages + "</a>";
                        row += "</li>";
                    }
                }
            }

            if (!(data.endBlock_sm - data.startBlock_sm) < 4 && data.endBlock_sm !== data.totalPages) {
                row += "<li class='page-item disabled'><span class='page-link'>...</span></li>";
                row += "<li class='page-item'>";
                row += "<a class='page-link' data-page='" + data.totalPages + "'>" + data.totalPages + "</a>";
                row += "</li>";
                row += "</li>";
            }

            if (!data.last && data.totalElements !== 0) {
                row += "<li class='page-item page-chevron-right'>";
                row += "<a class='page-link' data-page='" + (data.page + 1) + "'>";
                row += "<span><i class='fas fa-chevron-right'></i></span>";
                row += "</a>";
                row += "</li>";
            } else if (data.last && data.totalElements !== 0) {
                row += "<li class='page-item page-chevron-right disabled'>";
                row += "<a class='page-link'>";
                row += "<span><i class='fas fa-chevron-right'></i></span>";
                row += "</a>";
                row += "</li>";
            }
            row += "</ul>";
        }
        row += "</nav>";

        return row;
    }


    function submitCm(e, remarkId) {
        let textarea = $(e).parent().prev(),
            content = textarea.val(),
            data = {
                content: content
            }
        if (e.dataset.parent != null) {
            data.parentId = e.dataset.parent;
            data.ancestorId = e.dataset.parent;
            if (e.dataset.ancestor != null) {
                data.ancestorId = e.dataset.ancestor;
            }
        }

        if (validateCm(data.content)) {
            submitCmAjax(remarkId, data);
        }
    }

    function submitCmAjax(remarkId, data) {
        $.ajax({
            type: 'POST',
            url: `/api/remark/${remarkId}/comment`,
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XMLHttpRequest", "true");
            }
        }).done(function (result) {
            clearCmTextarea();
            if (data.ancestorId != null) {
                loadComments(currentCmPage);
            } else {
                loadComments(Math.ceil(result / size));
            }

            $(".r-d-changing-comment-count").text(result);
            setTimeout(() => {
                isRun = false
            }, 200)
        }).fail(function (error) {
            if (error.status === 403) {
                location.href = "/oauth_login";
            } else {
                alert(JSON.stringify(error));
            }
            isRun = false
        });
    }

    function clearCmTextarea() {
        const textarea = document.querySelectorAll('.r-c-t-textarea');
        for (let i = 0; i < textarea.length; i++) {
            textarea[i].value = '';
            textarea[i].style.height = '80px';
        }

    }

    function openCmReplyTextarea(e) {
        let parentId = e.dataset.cid,
            parentNickname = e.dataset.writer,
            row = "",
            textareaContainer = document.getElementById("cmReplyTextareaContainer-" + parentId);

        if (textareaContainer === null) {
            hideAllCmReplyTextarea();
            row += "<div class=\"r-c-t-textarea-container r-c-t-reply-textarea-container\" id='cmReplyTextareaContainer-" + parentId + "'>";
            row += "<div><i class=\"r-c-t-comment-reply-icon fas fa-level-up-alt fa-rotate-90\"></i><span class=\"r-c-t-writer\">@" + parentNickname + "</span></div>";
            row += "<textarea id='cmReplyTextarea-" + parentId + "' class=\"r-c-t-textarea form-control\" rows=\"3\" maxLength=\"300\" placeholder=\"댓글을 입력하세요.\"></textarea>";
            row += "<div class='d-flex justify-content-end'>";

            if (e.dataset.aid != null) {
                row += "<button class='r-c-t-save-btn btn btn-sm' data-parent='" + parentId + "' data-ancestor='" + e.dataset.aid + "' onclick='submitCm(this," + rdRemarkId + ")'>등록</button>";
            } else {
                row += "<button class='r-c-t-save-btn btn btn-sm' data-parent='" + parentId + "' onclick='submitCm(this," + rdRemarkId + ")'>등록</button>";
            }
            row += "</div>";
            row += "</div>";

            $("#comment-" + parentId).children().last().after(row);
            $("#cmReplyTextarea-" + parentId).focus();

        } else if (textareaContainer != null && textareaContainer.style.display === 'none') {
            hideAllCmReplyTextarea();
            textareaContainer.style.display = "block";
            $("#cmReplyTextarea-" + parentId).focus();
        } else if (textareaContainer != null && textareaContainer.style.display !== 'none') {
            hideAllCmReplyTextarea();
        } else {
        }

        let openedTextarea = document.querySelector('#cmReplyTextarea-' + parentId)
        autosize(openedTextarea);

        let location = document.querySelector('#comment-' + parentId).offsetTop;
        window.scrollTo({top: location + 60});
    }

    function hideAllCmReplyTextarea() {
        $(".r-c-t-reply-textarea-container").hide();
    }

    function deleteCm(e) {
        if (!confirm("댓글을 삭제하시겠습니까?")) {
            return false;
        } else {
            checkAndSetIsRun();
            let url = '',
                commentId = e.dataset.cid,
                ancestorId = document.getElementById("comment-" + commentId).dataset.aid;

            if (ancestorId != null) {
                url = `/api/remark/${rdRemarkId}/comment/${commentId}/${sid}?ancestorId=${ancestorId}`
            } else {
                url = `/api/remark/${rdRemarkId}/comment/${commentId}/${sid}`
            }

            $.ajax({
                type: 'DELETE',
                url: url,
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XMLHttpRequest", "true");
                }
            }).done(function (result) {
                $(".r-d-changing-comment-count").text(result);
                loadComments(currentCmPage);
                setTimeout(() => {
                    isRun = false
                }, 200);
            }).fail(function (error) {
                if (error.status === 403) {
                    location.href = "/oauth_login";
                } else {
                    alert(JSON.stringify(error));
                }
                isRun = false
            });
        }
    }

    function openCmModifyTextArea(commentId) {
        let row = '',
            commentEl = document.getElementById("comment-" + commentId),
            originContent = '',
            textareaContainer = document.getElementById("cmModifyTextareaContainer-" + commentId);

        if (textareaContainer === null) {
            hideAllCmReplyTextarea();
            if (commentEl.dataset.aid != null) {
                originContent = $("#comment-content-" + commentId).html().split('>')[2];
            } else {
                originContent = document.getElementById("comment-content-" + commentId).innerText;
            }
            row += "<div id='cmModifyTextareaContainer-" + commentId + "' class=\"r-c-t-textarea-container r-c-t-reply-textarea-container r-c-t-child-modify-textarea-container\">";
            row += "<div><i class=\"r-c-t-comment-reply-icon fas fa-level-up-alt fa-rotate-90\"></i><label class='r-c-t-textarea-label'>댓글수정</label></div>";
            row += "<textarea id='cmModifyTextarea-" + commentId + "' class=\"r-c-t-textarea form-control\" rows=\"3\" maxLength=\"300\" placeholder=\"댓글을 입력하세요.\">" + originContent + "</textarea>";
            row += "<div class='d-flex justify-content-end'>";
            row += "<button class='r-c-t-modify-cancel-btn btn btn-secondary btn-sm' onclick='clearCmModifyTextArea(" + commentId + ")'>취소</button>";
            row += "<button class='r-c-t-save-btn btn btn-sm' onclick='modifyCm(" + commentId + ")'>수정</button>";

            row += "</div>";
            row += "</div>";

            $("#comment-" + commentId).after(row);
            $("#cmModifyTextarea-" + commentId).focus();
        } else if (textareaContainer != null && textareaContainer.style.display === 'none') {
            hideAllCmReplyTextarea();
            textareaContainer.style.display = "block";
            $("#cmModifyTextarea-" + commentId).focus();
        } else if (textareaContainer != null && textareaContainer.style.display !== 'none') {
            hideAllCmReplyTextarea();
        } else {
        }

        let openedTextarea = document.querySelector('#cmModifyTextarea-' + commentId)
        autosize(openedTextarea);

        let location = document.querySelector('#comment-' + commentId).offsetTop;
        window.scrollTo({top: location + 60});
    }

    function clearCmModifyTextArea(commentId) {
        document.querySelector("#cmModifyTextareaContainer-" + commentId).remove();
    }

    function modifyCm(commentId) {
        let originContent = '',
            content = document.getElementById("cmModifyTextarea-" + commentId).value;

        if (document.getElementById("comment-" + commentId).dataset.aid != null) {
            originContent = $("#comment-content-" + commentId).html().split('>')[2];
        } else {
            originContent = document.getElementById("comment-content-" + commentId).innerText;
        }

        if (!content || content.replace(blank_pattern, "") === "") {
            alert("내용을 입력해주세요.")
            return false;
        }

        if (content.trim() === originContent.trim()) {
            alert("변경된 내용이 없습니다.")
            return false;
        }

        let numberOfLines = (content.match(/\n/g) || []).length + 1,
            maxLengthOfLines = 20;

        if (numberOfLines > maxLengthOfLines) {
            alert("글이 너무 깁니다(최대 20줄).");
            return false;
        }

        if (isRun) {
            alert("잠시만 기다려주세요.")
            return false;
        } else {
            isRun = true;
        }

        $.ajax({
            type: 'PUT',
            url: `/api/remark/${rdRemarkId}/comment/${commentId}/${sid}`,
            data: JSON.stringify({
                content: content
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XMLHttpRequest", "true");
            }
        }).done(function (result) {
            $(".r-d-changing-comment-count").text(result);
            loadComments(currentCmPage);
            setTimeout(() => {
                isRun = false
            }, 200);
        }).fail(error => {
            if (error.status === 403) {
                location.href = "/oauth_login";
            } else {
                alert(JSON.stringify(error));
            }
            isRun = false
        });
    }

    /*function setCookie(name, value, exp) {
        let date = new Date();
        date.setTime(date.getTime() + exp * 24 * 60 * 60 * 1000);
        document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
    };

    function getCookie(name) {
        let value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return value ? value[2] : null;
    };*/

    function openReportingModal(commentId) {
        if (sid == null || sid === '') {
            location.href = "/oauth_login"
        } else {
            let commentEl = document.getElementById("comment-" + commentId),
                writerNickname = document.getElementById("comment-writer-" + commentId).innerText,
                commentContent = '';

            /*if (commentEl.dataset.aid != null) {
                commentContent = $("#comment-content-" + commentId).html().split('>')[2];
            } else {*/
            commentContent = document.getElementById("comment-content-" + commentId).innerHTML;
            /*}*/

            document.getElementById("reporting-cm-writer").innerText = writerNickname;
            document.getElementById("reporting-cm-content").innerHTML = commentContent;

            let data = {
                commentContent: commentContent
            }
            document.querySelector(".reporting-cm-submit-btn")
                .setAttribute("onclick", "submitReporting(" + commentId + ")");
        }
    }

    function submitReporting(commentId) {

        if (isRun) {
            alert("잠시만 기다려주세요.")
        } else {
            isRun = true;
        }

        let commentContent = '',
            commentEl = document.getElementById("comment-" + commentId);

        if (commentEl.dataset.aid != null) {
            commentContent = $("#comment-content-" + commentId).html().split('>')[2];
        } else {
            commentContent = document.getElementById("comment-content-" + commentId).innerText;
        }

        /*let commentContent = replaceTags(document.querySelector("#comment-content-"+commentId).innerHTML);*/

        let data = {
            originContent: commentContent,
            type: document.querySelector('input[name="reporting-type"]:checked').value
        }

        $.ajax({
            type: 'POST',
            url: `/api/comment/${commentId}/reporting`,
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XMLHttpRequest", "true");
            }
        }).done(function (result) {
            alert(JSON.stringify(result));
            let myModalEl = document.getElementById('reportingCmModal'),
                modal = bootstrap.Modal.getInstance(myModalEl);
            modal.hide();
            isRun = false;
        }).fail(function (request, status, error) {
            if (request.status === 403) {
                location.href = "/oauth_login";
            } else {
                let myModalEl = document.getElementById('reportingCmModal'),
                    modal = bootstrap.Modal.getInstance(myModalEl)
                modal.hide();
                isRun = false;
                let message = JSON.stringify(request.responseText);
                alert(message.replace(/\"/gi, ""));
            }
        });
    }


    function validateCm(content) {

        let numberOfLines = (content.match(/\n/g) || []).length + 1,
            maxLengthOfLines = 20;
        if (!content || content.replace(blank_pattern, "") === "") {
            alert("내용을 입력해주세요.")
            return false;
        } else if (numberOfLines > maxLengthOfLines) {
            alert("글이 너무 깁니다(최대 20줄).");
            return false;
        } else if (checkAndSetIsRun()) {
            return true;
        }
    }

    function checkAndSetIsRun() {
        if (isRun) {
            alert("잠시만 기다려주세요.")
            return false;
        } else {
            isRun = true;
            return true;
        }
    }

    function replaceTags(html) {
        let regExp = /<\/?[^>]+>/gi;

        return html.replace(regExp, "");
    }

    function addDeleteCmBtn() {
        let deleteCmBtn = document.getElementsByClassName("r-c-t-delete-btn");
        for (let i = 0; i < deleteCmBtn.length; i++) {
            deleteCmBtn[i].addEventListener("click", function () {
                deleteCm(this);
            });
        }
    }

    function addPaging() {
        let pageLink = document.getElementsByClassName("page-link");
        for (let i = 0; i < pageLink.length; i++) {
            pageLink[i].addEventListener("click", function () {
                let location = document.querySelector("#comment-container").offsetTop;
                loadComments(this.dataset.page);
                window.scrollTo({top: location + 60});
            });
        }
    }

    function toggleComment() {
        $("#comment-container").toggle();
        let location = document.querySelector("#comment-container").offsetTop;
        window.scrollTo({top: location + 60});
    }

    document.addEventListener("DOMContentLoaded", loadComments(commentPageForInit));
</script>
</body>
</html>