<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/topHeader :: topHeader"/>
<div th:replace="fragments/subHeader :: subHeader"/>
<div class="container container-custom">
    <div class="remark-page-wrap">
        </br>

        <div id="remark-scroll-position" class="py-2 d-flex" style="grid-template-columns: 1fr 2fr;">
        </div>

        <div class="row" id="remark-table-wrap">
            <div id="remark-table" th:object="${remark}">
                <div class="remark-row remark-detail-row">

                    <!-- 타이틀 -->
                    <div class="remark-detail-title-wrap">
                        <div><span class="remark-detail-title-date"
                                   th:text="${#temporals.format(remark.remarkDate,'yyyy년 MM월 dd일')}"></span></div>
                        <div class="d-flex"><h4 class="remark-detail-title-main"
                                                th:text="|${remark.person.job} ${remark.person.name}|"></h4><i
                                class="bi bi-chat-quote-fill remark-detail-title-icon"></i></div>
                    </div>

                    <!-- 태그 -->
                    <div class="remark-first-row d-flex align-items-top">
                        <div class="remark-tag">
                            <a th:each="tagName : ${remark.tags}"
                               th:href="@{/remark/search(keyword=${tagName.name},tab=3)}"><span
                                    th:text="|#${tagName.name}|"></span></a>
                        </div>
                    </div>

                    <!-- 발언 내용 -->
                    <div class="remark-content mt-2">
                        <pre><i class='fas fa-quote-left remark-quote-icon'></i>[[*{content}]]<i class='fas fa-quote-right remark-quote-icon'></i></pre>
                    </div>

                    <!-- 하단 버튼 -->
                    <div class='remark-center-bottom-wrap d-flex justify-content-end'>
                        <!--좋아요-->
                        <div class='like-icon-container'>
                            <a href='javascript:;' class='btn like-btn' data-islike='1'
                               th:onclick="|like(this, *{remarkId})|">
                                <i class='fas fa-grin like-icon remark-bottom-icon'></i>
                                <span th:id=|like-count-*{remarkId}| th:text="*{likeCount}" class='like-count remark-bottom-icon-text'></span>
                            </a>
                        </div>
                        <!--싫어요-->
                        <div class='like-icon-container'>
                            <a href='javascript:;' class='btn dislike-btn' data-islike='-1'
                               th:onclick="|like(this, *{remarkId})|">
                                <i class='fas fa-frown dislike-icon remark-bottom-icon'></i>
                                <span th:id=|dislike-count-*{remarkId}| th:text="*{dislikeCount}"
                                      class='dislike-count remark-bottom-icon-text'></span>
                            </a>
                        </div>

                        <!-- 출처 -->
                        <div th:if="*{not #strings.isEmpty(sourceSort)}" class='source-icon-container remark-bottom-icon-containers'>
                            <a class='btn source-btn' th:href="*{sourceUrl}" target='_blank' rel='noopener'>
                                <div class='d-flex align-items-center'>
                                    <i th:if="*{sourceSort.toString().equals('영상')}"
                                       class='remark-bottom-icon fas fa-play-circle' style='color: #ff7e7e'></i>
                                    <i th:if="*{sourceSort.toString().equals('SNS')}"
                                       class='remark-bottom-icon fas fa-mobile-alt' style='color: #1c9bf9'></i>
                                    <i th:if="*{sourceSort.toString().equals('기사')}"
                                       class='remark-bottom-icon fas fa-newspaper' style='color: #ba85f1'></i>
                                    <span th:text="*{sourceSort}" class='remark-bottom-icon-text remark-bottom-icon-text-right'></span>
                                </div>
                            </a>
                        </div>


                        <!-- 공유 -->
                        <div class='share-icon-container remark-bottom-icon-containers'>
                            <a id='share-btn' class='btn share-btn' href=''
                               th:onclick="|openShareModal(this, *{remarkId})|" data-bs-toggle="modal"
                               th:data-name="*{person.name}"
                               th:data-date="*{#temporals.format(remarkDate,'yyyy.MM.dd')}"
                               data-bs-target="#shareModal">
                                <div class='d-flex align-items-center'>
                                    <i class='remark-bottom-icon fas fa-share'></i><span
                                        class='remark-bottom-icon-text remark-bottom-icon-text-right'>공유</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- 하단 컨테이너 -->
                    <div class="d-flex justify-content-between align-items-center" style="border-top: 1px solid #eee; margin-top: 1rem;">
                        <!--좌측 하단-->
                        <div class="remark-left-bottom-wrap" style="margin-top: 1rem;">
                            <!--등록일-->
                            <div class="col-xs-6">
                                <span><small class="text-muted" th:text="*{createdDate}"></small></span>
                            </div>
                            <!--수정일-->
                            <!--<div class="col-xs-6">
                                <span><small class="text-muted" th:text="|수정 : *{createdDate}|"></small></span>
                            </div>-->
                        </div>
                        <!--우측 하단-->
                        <div class="remark-right-bottom-wrap">

                            <!-- 발언인 검색-->
                            <div class="remark-detail-person-search d-flex align-items-center justify-content-end"
                            style="margin-top: 1rem; margin-bottom: .5rem;">
                                <a th:href="@{/remark/search(keyword=*{person.name},personId=*{person.id},tab=2)}">
                                    <span class="" th:text="|*{person.name}의 발언 보러가기|"></span>
                                    <i class="fas fa-arrow-circle-right remark-detail-person-search-icon"></i>
                                </a>
                            </div>
                            <!--<div class="remark-detail-person-search d-flex align-items-center justify-content-end">
                                <a th:href="@{/remark/search(keyword=*{person.name},personId=*{person.id},tab=2)}">
                                    <span class="" th:text="*{person.name}"></span><span
                                        style="font-size: .8125rem; margin: 0 .25rem;">검색</span>
                                    <i class="bi bi-search remark-detail-person-search-icon"></i>
                                </a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end" style="margin-bottom: 1rem;">
            <div sec:authorize="hasRole('ADMIN')"
                 class="remark-delete-and-update-btn-wrap d-flex align-items-center">
                <!-- 수정 버튼 -->
                <a class="btn btn-outline-secondary btn-sm me-2"
                   th:href="@{/remark/{remarkId}/update(remarkId=*{remarkId})}">수정</a>
                <!-- 삭제 버튼 -->
                <button class="btn btn-outline-danger btn-sm btn-delete me-2"
                        th:onclick="|deleteRemark(*{remarkId})|">삭제
                </button>
            </div>
                <a class="btn btn-outline-secondary btn-sm me-2" href="javascript:toList();">목록</a>
        </div>
    </div>
</div>
</div>
<!-- Modal -->
<div th:replace="fragments/shareModal :: shareModal"/>
<div th:replace="fragments/footer :: footer"/>
<script>
    function deleteRemark(id) {
        if (confirm("정말 삭제하시겠습니까? \n삭제한 발언은 복원할 수 없습니다.") == true) {
            $.ajax({
                type: 'DELETE',
                url: '/api/remark/' + id,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
            }).done(function () {
                alert('발언이 삭제되었습니다.');
                history.back();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        } else {
            return;
        }
    }
</script>
<script>
    function toList() {
        window.location.href = '/remark';
        /*if(history.state != null && history.state.page){
            history.back();
        }else {
            window.location.href = '/remark';
        }*/
    }
</script>
<script>
    function like(e, remarkId) {
        if (document.getElementById("user_id")) {

            let isLike = parseInt(e.dataset.islike),
                /*userId = document.getElementById("user_id").value,*/
                likeCountDom = document.getElementById("like-count-" + remarkId),
                dislikeCountDom = document.getElementById("dislike-count-" + remarkId);

            $.ajax({
                type: 'PUT',
                url: `/api/remark/${remarkId}/like/${isLike}`,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            }).done(function (result) {
                let likeInfo = result;
                likeCountDom.innerText = likeInfo.likeCount;
                dislikeCountDom.innerText = likeInfo.dislikeCount;
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        } else {
            location.replace("/login");
        }
    }</script>
</body>
</html>