<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="aside col-lg-4" th:fragment="aside">
    <div class="aside-menu-container">
        <span class="aside-title"><i class="fab fa-hotjar"></i>화제 발언</span>
        <ul class="aside-remark-category-nav">
            <li class="aside-remark-category-nav-items" data-cat="정치"><span>정치</span></li>
            <li class="aside-remark-category-nav-items" data-cat="방송연예"><span>방송/연예</span></li>
            <li class="aside-remark-category-nav-items" data-cat="사회문화"><span>사회/문화</span></li>
            <li class="aside-remark-category-nav-items" data-cat="스포츠"><span>스포츠</span></li>
            <!--<li class="aside-remark-category-nav-items" data-cat="창작물"><span>창작물</span></li>-->
        </ul>

        <div class="aside-remark-table">
            <div class="d-flex justify-content-center p-4">
                <div class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5145635293228409"
                crossorigin="anonymous"></script>
        <!-- 우측 사이드 -->
        <!--<ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5145635293228409"
             data-ad-slot="2128548310"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>-->
    </div>

    <script>
        const remarkTable = document.querySelector(".aside-remark-table");
        const navs = document.querySelectorAll(".aside-remark-category-nav-items");
        let randomIndex = Math.floor(Math.random()*navs.length)

        navs[randomIndex].classList.add("active");

        let activatedNav = document.querySelector(".aside-remark-category-nav-items.active")

        function initRemarks(){
            const initCategory = document.querySelector(".aside-remark-category-nav-items.active").dataset.cat;
            getHotRemarkList(initCategory)
                .then(res => res.json())
                .then(toTable)
                .then(row => remarkTable.innerHTML = row);
        }

        function changeCat(e){
            if(!e.classList.contains("active")){
                const cat = e.dataset.cat;
                activatedNav.classList.toggle("active");
                e.classList.toggle("active");
                activatedNav = e;

                getHotRemarkList(cat)
                    .then(res => res.json())
                    .then(toTable)
                    .then(row => remarkTable.innerHTML = row);
            }
        }

        async function getHotRemarkList(category){
            const response = await fetch(`/api/remark/hot/${category}`);
            try{
                if(response.ok){
                    return response;
                }else {
                    console.log("목록을 불러올 수 없습니다.")
                }
            } catch (error){
                alert(JSON.stringify(error));
            }
        }

        function toTable(list){
            let row = "";
            if(list.length > 0){
                list.forEach((r,index) => {
                    if(index===list.length-1){
                        row += "<div class=\"aside-remark-table-row last\" onclick='toRemarkDetail(this)' data-link='/remark/"+ r.remarkId + "'>";
                    }else {
                        row += "<div class=\"aside-remark-table-row\" onclick='toRemarkDetail(this)' data-link='/remark/"+ r.remarkId + "'>";
                    }
                    row += "<div class=\"aside-remark-title-container\">";
                        row += "<div class=\"aside-remark-title-first-col-container\">";
                            row += "<span class=\"aside-remark-name\">" + r.name +"</span>";
                            row += "<span class=\"aside-remark-job\">"+ r.job +"</span>";
                        row += "</div>";
                        row += "<div class=\"aside-remark-title-second-col-container\">";
                            row += "<div class=\"aside-remark-like-icon-container aside-remark-icon-container\">";
                                row += "<i class=\"icon-thumb-up\"></i>";
                                row += "<span>"+r.likeCount+"</span>";
                            row += "</div>";
                            row += "<div class=\"aside-remark-dislike-icon-container aside-remark-icon-container\">";
                                row += "<i class=\"icon-thumb-down\"></i>";
                                row += "<span>"+r.dislikeCount+"</span>";
                            row += "</div>";
                            row += "<div class=\"aside-remark-comment-icon-container aside-remark-icon-container\">";
                                row += "<i class=\"icon-comment\"></i>";
                                row += "<span style='margin-right: 0'>"+r.commentCount+"</span>";
                            row += "</div>";
                        row += "</div>";
                    row += "</div>";
                    row += "<div class=\"aside-remark-content\">" ;
                    row += "\""+r.content+"\"";
                    row += "</div>";
                row += "</div>";
            })
            }else{
                row += "<div class=\"aside-remark-table-empty-row\" style='text-align: center'>";
                row += "<span class='aside-remark-table-empty-msg'>결과가 없습니다.</span>";
                row += "</div>";
            }

            return row;
        }

        function toRemarkDetail(e){
            location.href= e.dataset.link;
        }


        document.addEventListener("DOMContentLoaded", function (){
                initRemarks();
            })

        navs.forEach(n=>{
            n.addEventListener("click", function (e){
                changeCat(this);
            })
        })
    </script>
</div>

