<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">

    <!-- 헤더 네비바 -->
    <div class="main-header container-fluid d-grid gap-3 align-items-center py-2"
         style="grid-template-columns: 1.33fr 2fr; background-color: white;">
        <div class="d-flex">
            <span style="font-weight:bold; font-size: 1.8rem; margin-left:0.8rem; color: #439ff9;">Quot.</span>
        </div>
        <!-- 검색창 -->
        <div class="d-flex">
            <form action="/admin/comment/search" method="get" class="d-flex" autocomplete="off" maxlength="255"
                  onsubmit="return validate(this)">
                <input id="keyword" name="keyword" class="form-control search-bar" placeholder="검색어를 입력하세요."
                       th:value="${keyword}">
                <input id="tab" name="tab" type="hidden" value="1">
                <button type="submit" class="search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor"
                         class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                    </svg>
                </button>
            </form>
        </div>
    </div>


    <!-- admin 네비바 -->
    <div class="admin-header">
        <div class="container container-custom d-flex justify-content-between">
            <div><span style="margin-left: 0.5rem;">Admin Page 0.0.1</span></div>
            <div>
                <a class="btn btn-outline-danger btn-sm d-flex justify-content-end" href="/logout"
                   style="border-radius: 1rem;">로그아웃</a>
            </div>
        </div>
    </div>

    <div class="container container-custom">
        <nav class="nav">
            <a class="nav-link" aria-current="page" href="/admin/person">인물 목록</a>
            <a class="nav-link" href="/admin/comment">발언 목록</a>
        </nav>
    </div>


    <script>
        function validate(event) {
            const len = document.getElementById("keyword").value.trim().length;
            if (len < 1) {
                return false
            } else {
                return true
            }
        }
    </script>
</div>
