<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer mt-auto py-1 bg-light" th:fragment="footer">
    <div class="container">
        <a class="d-flex justify-content-center m-3" style="margin-left:0.8rem; font-size: .815rem; font-weight: 300; color: #96a0a5">
            <span>&copy;Quot.wiki ｜ </span> <span>udonprj@gmail.com</span>
        </a>
    </div>
    <!-- autocomplete  -->
    <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
    <!-- popper -->
    <script src="/node_modules/mark.js/dist/jquery.mark.es6.min.js"></script>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/admin/admin.js?ver=20211020_001"></script>
    <script src="/js/admin/remark/remark.js?ver=20211020_001"></script>
</footer>

</html>