<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer mt-auto py-3 bg-light" th:fragment="footer">
    <div class="container">
        <a href="#" style="margin-left:0.8rem;">
            <p style="font-size: .95rem;">&copy; Quot. v1</p>
        </a>
    </div>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/admin/admin.js?ver=2021_06_29_001"></script>
</footer>

</html>