<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">

        <nav class="navbar navbar-light bg-light" style="border-top: 0.05rem solid rgba(0,0,0,.125);">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="margin-left:0.8rem;">
                    <p style="font-size: .95rem;">&copy; Quot. v1</p>
                </a>
            </div>
        </nav>

    <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/admin/admin.js?ver=2021_06_16_001"></script>
</div>

</html>