<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <!-- container 사이즈 조절 custom -->
    <link rel="stylesheet" href="/css/form/form.css">
    <!-- admin 커스텀 css (fieldError)-->
    <link rel="stylesheet" href="/css/admin/admin.css?ver=2021_07_24_001">
    <!-- fonts -->
    <link rel="stylesheet" href="/css/fonts.css">
    <!-- tagify & dragsort -->
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
    <link rel="stylesheet" href="/node_modules/@yaireo/dragsort/dist/dragsort.css">
    <!-- jquery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <title>Quot.</title>
</head>