<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="imageUploadModal" th:fragment="imageUploadModal">
    <div class="modal fade" id="imageUploadModal" tabindex="-1" aria-labelledby="imageUploadModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title image-upload-modal-title" id="shareModalLabel">아이콘 업로드</h6>
                </div>
                <div class="modal-body">
                    <div class="image-upload-modal-row pb-3 justify-content-center">
                        <div class="image-upload-modal-image-container">
                            <div class="i-u-m-icon-container py-3 mb-3 d-flex justify-content-center">
                                <div class="i-u-m-image-wrap i-u-m d-flex align-items-center justify-content-center">
                                    <img class="image-upload-modal-preview-image" src="/css/images/basic_image.svg">
                                </div>
                            </div>
                            <div class="input-group input-group-sm px-4 mb-3">
                                <input class="image-upload-modal-input form-control" type="file">
                            </div>
                            <div class="input-group input-group-sm px-4 mb-2">
                                <select class="form-select image-upload-modal-category-select">
                                    <option selected>카테고리</option>
                                    <option value="정치">정치</option>
                                    <option value="방송연예">방송/연예</option>
                                    <option value="사회문화">사회/문화</option>
                                    <option value="스포츠">스포츠</option>
                                    <option value="창작물">창작물</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid px-4 pb-2 gap-2">
                        <button class="btn btn-primary btn-sm image-upload-modal-submit-btn">저장</button>
                        <button class="btn btn-secondary btn-sm image-upload-modal-cancel-btn" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function setUploadedIconToTable(res){
            const table = document.querySelector(".a-p-s-i-main-table");
            const secondChild = table.childNodes[2];
            const updatedIconWrap = document.createElement("div");
            const updatedIconImg = document.createElement("img");
            updatedIconImg.setAttribute("class", "a-p-s-i-icon");
            updatedIconImg.setAttribute("data-bs-toggle", "modal");
            updatedIconImg.setAttribute("data-bs-target", "#iconModifyModal");
            updatedIconImg.setAttribute("data-cat", res.category);
            updatedIconImg.setAttribute("data-id", res.id);
            updatedIconImg.setAttribute("src", res.path);
            updatedIconImg.setAttribute("alt", "아이콘");
            updatedIconWrap.setAttribute("class", "a-p-s-i-icon-wrap");
            updatedIconWrap.appendChild(updatedIconImg);

            updatedIconWrap.addEventListener("click", function (e){
                setModifyModalData(e.target);
            })

            const myModalEl = document.getElementById('imageUploadModal');
            const modal = bootstrap.Modal.getInstance(myModalEl);
            modal.hide();

            table.insertBefore(updatedIconWrap,secondChild);
        }


        document.querySelector(".image-upload-modal-submit-btn").addEventListener("click", function (){
            uploadIconExec();
        })

        document.querySelector(".image-upload-modal-cancel-btn").addEventListener("click" ,function (){
            resetImage();
        })

    </script>


</div>


</html>