<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="shareModal" th:fragment="shareModal">
    <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title share-modal-title" id="shareModalLabel">공유하기</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <input id="remark-share-modal-name" type="hidden"/>
                        <input id="remark-share-modal-date" type="hidden"/>
                        <div class="col-auto remark-share-icon">
                            <a id="kakaoShareBtn" class="kakao" href="javascript:;">
                                <img src="/css/images/kakaotalk_logo.png" alt="카카오톡">
                                <div>카카오톡</div>
                            </a>
                        </div>
                        <div class="col-auto remark-share-icon">
                            <a class="facebook" href="javascript:shareFacebook();">
                                <img src="/css/images/facebook_logo.png" alt="페이스북">
                                <div>페이스북</div>
                            </a>
                        </div>
                        <div class="col-auto remark-share-icon">
                            <a class="twitter" href="javascript:shareTwitter();">
                                <img src="/css/images/twitter_logo.png" alt="트위터">
                                <div>트위터</div>
                            </a>
                        </div>
                    </div>
                    <div class="input-group mt-3 mb-3 remark-share-url-wrap">
                        <input id="remark-share-url" type="text" class="form-control" readonly>
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="copyUrl()">
                            복사
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        const urlInput = document.getElementById("remark-share-url");
        let name = '',
            date = '',
            index = '',
            content = '';

        Kakao.init('d98279dd490fad82032e7f644c8af31c');

        function openShareModal(e, id) {
            urlInput.value = `https://quot.wiki/remark/${id}`;

            name = e.dataset.name;
            date = e.dataset.date;
            index = e.dataset.index;
            content = document.getElementById("remark-content-"+index).innerText;

            shareKakao();
        }

        function copyUrl() {

            const oldContentEditable = urlInput.contentEditable,
                oldReadOnly = urlInput.readOnly,
                range = document.createRange();

            urlInput.contentEditable = "true";
            urlInput.readOnly = false;
            range.selectNodeContents(urlInput);

            const s = window.getSelection();
            s.removeAllRanges();
            s.addRange(range);

            urlInput.select();
            urlInput.setSelectionRange(0, 999999);

            urlInput.contentEditable = oldContentEditable;
            urlInput.readOnly = oldReadOnly;

            document.execCommand("copy");

            alert("주소가 클립보드에 복사되었습니다.");
        }

        function shareTwitter() {
            let contentForSend = '';
            if(content.length > 100){
                contentForSend = "\"" + content.substr(0,100) + "...\"";
            }else{
                contentForSend = "\"" + content + "\"";
            }

            let sendText = date.replace(/(\s*)/g, "") + " " + name.replace(/(\s*)/g, "") + " 발언 " + contentForSend;

            let encodedUri = encodeURI("https://twitter.com/intent/tweet?text=" + sendText + "&hashtags="+ name.replace(/(\s*)/g, "") +"&url=" + urlInput.value);
            window.open(encodedUri);
        }

        function shareFacebook() {
            window.open("http://www.facebook.com/sharer/sharer.php?u=" + urlInput.value);
        }


        function shareKakao() {

            // 카카오링크 버튼 생성
            Kakao.Link.createDefaultButton({
                container: '#kakaoShareBtn',
                objectType: 'feed',
                content: {
                    title: name + "님의 발언 "+date,
                    description: "\""+content+"\"",
                    imageUrl: 'https://quot.wiki/css/images/logo.png',
                    link: {
                        mobileWebUrl: urlInput.value,
                        webUrl: urlInput.value
                    }
                },
                buttons:
                    [{
                        title:"자세히 보기",
                        link: {
                            mobileWebUrl: urlInput.value,
                            webUrl: urlInput.value
                        }
                    }]
            });
        }
    </script>

</div>

