<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<nav class="subNavbar" th:fragment="subNavbar">
    <div class="subNav-menu-wrap container-xl">
        <ul class="subNav-menu">
            <li class="subNav-menu-items main-menu"
                th:classappend="${#strings.equals(category, '종합')} ? active">
                <a href="/remark">
                    <span>종합</span>
                </a>
            </li>
            <li id="subNavHot" class="subNav-menu-items main-menu hot"
                th:classappend="${#strings.equals(category, '화제')} ? active">

                <a href="/remark?category=화제">
                    <span>
                        <i class="fab fa-hotjar"></i>화제
                    </span>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="subNav-menu-items main-menu"
                th:classappend="${#strings.equals(category, '팔로우')} ? active">
                <a href="/remark/follow">
                    <span>
                        <!--<i class="subNav-menu-follow bi bi-people" style="line-height: 0"></i>-->팔로우
                    </span>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="subNav-menu-items main-menu"
                th:classappend="${#strings.equals(category, '스크랩')} ? active">
                <a href="/remark/scrap">
                    <span>
                        <!--<i class="subNav-menu-bookmark bi bi-bookmark" style="line-height: 0"></i>-->스크랩
                    </span>
                </a>
            </li>

            <li class="subNav-menu-items divider">
                <a>|</a>
            </li>
            <li class="subNav-menu-items"
                th:classappend="${#strings.equals(category, '정치')} ? active">
                <a href="/remark?category=정치">
                    <span>정치</span>
                </a>
            </li>
            <li class="subNav-menu-items"
                th:classappend="${#strings.equals(category, '방송연예')} ? active">
                <a href="/remark?category=방송연예">
                    <span>방송/연예</span>
                </a>
            </li>
            <li class="subNav-menu-items"
                th:classappend="${#strings.equals(category, '사회문화')} ? active">
                <a href="/remark?category=사회문화">
                    <span>사회/문화</span>
                </a>
            </li>
            <li class="subNav-menu-items"
                th:classappend="${#strings.equals(category, '스포츠')} ? active">
                <a href="/remark?category=스포츠">
                    <span>스포츠</span>
                </a>
            </li>
            <li class="subNav-menu-items"
                th:classappend="${#strings.equals(category, '창작물')} ? active">
                <a href="/remark?category=창작물">
                    <span>창작물</span>
                </a>
            </li>
        </ul>
    </div>

    <script>
        $(document).ready(function () {
            let $scrItem = $('.subNav-menu-items');
            let scrIWidth = 0;
            for (let i = 0; i < $scrItem.length; i++) {
                scrIWidth += $scrItem.eq(i).outerWidth();
            }
            alignCenter();

            function alignCenter() {
                let target = $(".subNav-menu-items.active")
                let box = $('.subNav-menu-wrap');
                let boxItem = box.find('.subNav-menu-items');
                let boxHalf = box.width() / 2;
                let pos;
                let listWidth = 0;
                let targetLeft = 0;

                boxItem.each(function () {
                    listWidth += $(this).outerWidth();
                })

                for (let i = 0; i < target.index(); i++) targetLeft += boxItem.eq(i).outerWidth();

                let selectTargetPos = (targetLeft + target.outerWidth() / 2);
                if (selectTargetPos <= boxHalf) { // left
                    pos = 0;
                } else if (listWidth - selectTargetPos <= boxHalf) { //right
                    pos = box.width();
                } else {
                    pos = selectTargetPos - boxHalf; // 중앙
                }

                /*box.animate({scrollLeft: pos}, 300)*/
                box.scrollLeft(pos);


            }
        });

        const menu = document.querySelectorAll(".subNav-menu-items");
        menu.forEach(m => {
            m.addEventListener("click", function (e) {
            })
        })
    </script>
</nav>
