<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- 헤더 네비바 -->
<header class="main-header py-2 fixed-top d-flex align-items-center" th:fragment="topHeader">
    <div class="container d-flex justify-content-between main-header-container align-items-center">
        <!-- 로고 -->
        <div>
            <a href="/">
                <span style="font-weight:bold; font-size: 1.8rem; margin-right:2rem; color: #4091e0;">Quot.</span>
            </a>
        </div>

        <!-- 검색창 -->
        <form action="/remark" method="get" class="d-flex" autocomplete="off" maxlength="255"
              onsubmit="return validate(this)">
            <input id="search-input" name="keyword" class="form-control search-bar" placeholder="검색어를 입력하세요."
                   th:value="${keyword}">
            <input id="tab" name="tab" type="hidden" value="1">
            <button type="submit" class="search-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor"
                     class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
            </button>
        </form>

        <div>
            <div th:if="${user==null}">
                <a href="/login" id="login-btn" class="btn btn-sm btn-outline-primary btn-quot flex-shrink-0">로그인</a>
            </div>

            <div sec:authorize="isAuthenticated()" class="main-header-profile flex-shrink-0 dropdown">
                 <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                     <img th:src="${user.picture}" alt="mdo" width="32" height="32" class="rounded-circle">
                 </a>
                 <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                     <li><a sec:authorize="hasRole('ADMIN')" class="dropdown-item" href="/admin/person">인물목록</a></li>
                     <li><a sec:authorize="hasRole('ADMIN')" class="dropdown-item" href="/admin/person/new">인물등록</a></li>
                     <li><a sec:authorize="hasRole('ADMIN')" class="dropdown-item" href="/remark/new">발언등록</a></li>
                     <!--<li><a class="dropdown-item" href="#">Settings</a></li>
                     <li><a class="dropdown-item" href="#">Profile</a></li>-->
                     <li>
                         <hr class="dropdown-divider">
                     </li>
                     <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                 </ul>
             </div>

            <div sec:authorize="isAuthenticated()">
                <input type="hidden" th:value="${user.id}" id="user_id">
            </div>
        </div>

        <script>
            function validate(event) {
                const searchInput = document.getElementById("search-input");
                let keyword = searchInput.value;
                const len = keyword.trim().length;
                if (len < 1) {
                    return false
                } else {
                    searchInput.value = keyword.trim();
                    return true
                }
            }
        </script>
    </div>
</header>
