<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- 헤더 네비바 -->
<header class="main-header py-2 fixed-top d-flex align-items-center" th:fragment="topHeader" style="z-index: 99!important;">
    <div class="container d-flex justify-content-between main-header-container align-items-center">
        <!-- 로고 -->
        <div>
            <a href="/">
                <span style="font-weight:700; font-size: 2rem; color: #2c7be5;">Quot.</span>
            </a>
        </div>

        <!-- 검색창 -->
        <form action="/remark" id="main-search-bar" method="get" class="main-search-form d-flex align-items-center" autocomplete="off" maxlength="255"
              onsubmit="return validate(this)">
            <button type="submit" class="main-search-button">
                <i class="main-search-button-icon fas fa-search"></i>
            </button>
            <input id="search-input" name="keyword" class="main-search-bar form-control" maxlength="100" placeholder="검색어를 입력하세요."
                   th:value="${keyword}">
            <input id="tab" name="tab" type="hidden" value="1">
        </form>

        <div>
            <div th:if="${session.user==null}">
                <a href="/oauth_login" id="login-btn" class="btn btn-sm btn-outline-primary btn-quot flex-shrink-0">로그인</a>
            </div>

            <div sec:authorize="isAuthenticated()" class="main-header-profile flex-shrink-0 dropdown">
                 <a href="#" class="main-header-profile-link d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                     <span class="main-header-profile-nickname" th:text="${session.user.nickname}"></span>
                     <i class="main-header-profile-bar-icon fas fa-bars" style="display: none"></i>
                 </a>
                 <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                     <li><a sec:authorize="hasRole('ADMIN')" class="dropdown-item" href="/admin/person">인물목록</a></li>
                     <li><a sec:authorize="hasRole('ADMIN')" class="dropdown-item" href="/admin/person/new">인물등록</a></li>
                     <li><a sec:authorize="hasRole('ADMIN')" class="dropdown-item" href="/remark/new">발언등록</a></li>
                     <li>
                         <hr class="dropdown-divider">
                     </li>
                     <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                 </ul>
             </div>

            <div sec:authorize="isAuthenticated()">
                <input type="hidden" th:value="${session.user.id}" id="user_id">
            </div>
        </div>

        <script>
            function validate(event) {
                const searchInput = document.getElementById("search-input");
                let keyword = searchInput.value;
                const len = keyword.trim().length;
                if (len < 1) {
                    return false
                } else {
                    searchInput.value = keyword.trim();
                    return true
                }
            }
        </script>
    </div>
</header>
