@media all and (max-width: 360px) {
    html {
        font-size: 12px;
    }
}

@media all and (min-width:361px) and (max-width:768px) {
    html {
        font-size: 14px;
    }
}

body {
    font-family: Noto Sans KR, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif;
    font-style: normal;
    background-color: #f8f8f8;
}

.fieldError {
    border: 2px solid #ff5061
}

.fieldError + p {
    color: red;
}



/* tagify 시작 */

.tagify--outside{
    border: 0 !important;
    margin: 0;
    padding: 0;
}

.tagify--outside .tagify__input{
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: .1s;
}

.tagify--outside .tagify__input:hover{ border-color:var(--tags-hover-border-color); }
.tagify--outside.tagify--focus .tagify__input{
    transition:0s;
    border-color: var(--tags-focus-border-color);
}

.tagify__input{
    background-color: white;
    margin: 0 !important;
    border-radius: .25rem !important;
}

.tagify__output{
    background-color: white;
}

.tagify__tag{
    margin: 5px 5px 5px 0 !important;
}

/* tagify 끝 */



a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: black;
}

/* --- 헤더 ---*/
.main-header {
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #e2e2e2;
    position: fixed;
    z-index: 5;
}

.search-bar {
    font-size: 1.1rem;
    font-weight: 600;
    border: 0;
    border-bottom: 1px solid #bfbfbf;
    border-radius: 0;
    padding-right: 2rem;
    outline: none;
    transition: box-shadow .3s;
}

.search-bar:focus {
    box-shadow: none;
    outline: 0 none;
}

.search-button {
    background-color: transparent;
    padding: 0;
    border: 0;
    color: #1B95E0FF;
    margin-left: -1.8rem;
    outline: none;
}

.search-bar::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 1rem; /* Chrome/Opera/Safari */
}

.search-bar::-moz-placeholder {
    font-weight: 400;
    font-size: 1rem; /* Firefox 19+ */
}

.search-bar:-ms-input-placeholder {
    font-weight: 400;
    font-size: 1rem; /* IE 10+ */
}

.search-bar:-moz-placeholder {
    font-weight: 400;
    font-size: 1rem; /* Firefox 18- */
}

.admin-header {
    background-color: white;
    padding-top: 70px;
    padding-bottom: 10px;
    box-shadow: 1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(0, 0, 0, 0.15);
}
/*--- 헤더 끝---*/


/*--- 검색결과 네비바 ---*/
.nav-tabs .nav-link, nav .nav-link {
    position: relative;
    z-index: 2;
    border-top: 0.2rem solid transparent !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: 500;
}

.nav-link.active, .nav-link:focus, .nav-link:hover {
    color: black;
    border-top: 0.2rem solid #1B95E0FF !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
}

/*--- 검색결과 네비바 끝 ---*/


/* 검색결과 타이틀*/
.search-result-keyword {
    color: #325288;
}

/* 검색결과 인물 리스트  */

@media (max-width: 768px) {

    .person-related {
        -ms-overflow-style: none;
        width: 100% !important;
        overflow-x: auto;
        white-space: nowrap
    }

    .person-related::-webkit-scrollbar {
        height: .55rem;
    }

    .person-related::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: transparent;
    }

    .person-related::-webkit-scrollbar-thumb:hover {
        background-color: rgba(210, 210, 210, 0.3);
    }
}

.person-related > div {
    list-style: none;
    display: inline;
}

.person-related > div > a {
    margin: 0 1rem 1.5rem 0;
    border-radius: 0.5rem;
    background-color: white;
    display: inline-block;
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(190, 190, 190, 0.19);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .5rem 1rem;
}

.person-related > div > a > .person-related-header {
    font-size: 0.82rem;
    color: #6c757d;
    margin-bottom: -.1rem;
}

.person-related > div > a > .person-related-header > .person-category {
    /*border-radius: 3rem;
    padding: .1rem .4rem;
    border: 1px solid #b5b5b5;*/

}

.person-related > div > a > .person-related-body > .person-name {
    margin-right: .2rem;
}

/* 검색결과 인물 리스트 끝 */


/* ------- 코멘트 박스 ------- */

.comment-row {
    position: relative;
    z-index: 1;
    padding: 1.5rem;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 1rem;
    margin: 0 0 2rem 0;
    box-shadow: 0.25rem 0.7rem 2rem 0.3rem rgba(0, 0, 0, .1);
}

.search-comment-table > #comment-row-1, .comment-empty {
    position: relative;
    z-index: 1;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0.25rem 0.7rem 2rem 0.3rem rgba(0, 0, 0, .1);
}

.comment-menu-icon {
    cursor: pointer;
    color: #bccddf;
    writing-mode: tb-rl;
    letter-spacing: .1rem;
    padding: .2rem;
    margin-right: -.5rem;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.comment-menu-icon:hover{
    color: #bbb;
}

.comment-menu > .dropdown-toggle::after{
    display: none;
}

.dropdown-item.active, .dropdown-item:active {
    color: #1e2125;
    text-decoration: none;
    background-color: #e9ecef;
}

/* ------- 태그 시작 ------- */

@media (max-width: 426px) {
    .comment-tag {
        -ms-overflow-style: none;
        width: 100% !important;
        overflow-x: auto;
        white-space: nowrap
    }

    .comment-tag > a{
        margin-bottom: 0 !important;
        margin-right: .2rem !important;
    }

    .comment-tag::-webkit-scrollbar {
        height: .55rem;
    }

    .comment-tag::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: transparent;
    }

    .comment-tag::-webkit-scrollbar-thumb:hover {
        background-color: rgba(210, 210, 210, 0.3);
    }
}

.comment-tag {
    width: 95%;
}


.comment-tag > a {
    font-size: .8rem;
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: .55rem 1rem;
    line-height: 1;
    color: #333;
    background-color: #f3f5f8;
    border-radius: 25px;
    width: auto;
}

.comment-tag > a:hover {
    background-color: #e3e8ef;
}

/* ------- 태그 끝 ------- */

@media (max-width: 575px) {
    .comment-right-bottom-wrap {
        margin-right: 0 !important;
    }

    .comment-source {
        margin-left: .2rem !important;
    }
}

.comment-source > a {
    font-size: .95rem;
    color: #1B95E0FF;
}

.comment-source > a:hover {
    color: #71C9FFFF;
}

.comment-date > span {
    color: #6c757d;
    font-size: .9rem;
}

.person-name {
    color: #212529;
    font-weight: 500;
}

.person-job {
    font-size: 0.9rem;
}

.comment-title > h4, .person-title > h4 {
    font-style: normal;
    font-weight: bold;
    margin-left: 0.5rem;
}

.comment-content > pre {
    font-family: Noto Sans KR;
    font-weight: 400;
    font-size: 1.1rem;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-all;
}

/* ------- 코멘트 박스 끝 ------- */

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

/* 페이지네이션 */

.comment-pagination {
    margin-bottom: 2rem;
}

.page-link {
    text-align: center;
    font-weight: 400 !important;
    color: #696969 !important;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    border: none;
    margin: 0 .1rem !important;
}

.page-item.active .page-link {
    font-weight: 500;
    background-color: #e3e8ef;
    border: none;
}

.page-item.disabled .page-link {
    background-color: transparent;
    border: none;
}

.page-link:hover {
}





