@media all and (max-width: 360px) {
    html {
        font-size: .875rem !important;
    }
}

@media all and (min-width: 361px) and (max-width: 575px) {
    html {
        font-size: .938rem !important;
    }
}

html {
    height: 100% !important;
}

body {
    /*padding-top: 70px;
    height: 100% !important;*/
    flex-direction: column !important;
    display: flex !important;

    font-family: Pretendard, Noto Sans KR, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif;
    font-style: normal;
    background-color: #f7fafc;
    overflow: scroll;
}


@media (max-width: 767px) {
    body {
        /* padding-top: 60px;*/
    }
}

.dropdown-menu {
    z-index: 1021 !important;
}


.fieldError {
    transition: border-color 0.15s ease-in-out 0s;
    border: 2px solid #ff8383 !important;
    box-shadow: none !important;
}

.fieldError:focus {
    box-shadow: none;
    border: 2px solid #ff8383;
}

.fieldError + p {
    font-size: .875rem;
    font-weight: 500;
    color: #e86161;
    margin-left: .25rem;
}


/* 코멘트 등록 - 인물 자동완성 */
.close-autocompleted {
    text-align: center;
    width: 30px;
    line-height: 30px;
    font-size: 1.125rem;
    transition: .2s ease-out;
    cursor: pointer;
}

@media (max-width: 360px) {
    .close-autocompleted {
        line-height: 23.75px;
    }

}

.close-autocompleted:hover {
    color: red;
}


/* tagify 시작 */

.tagify--outside {
    border: 0 !important;
    margin: 0;
    padding: 0;
}

.tagify--outside .tagify__input {
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: .1s;
}

.tagify--outside .tagify__input:hover {
    border-color: var(--tags-hover-border-color);
}

.tagify--outside.tagify--focus .tagify__input {
    transition: 0s;
    border-color: var(--tags-focus-border-color);
}

.tagify__input {
    background-color: white;
    margin: 0 !important;
    border-radius: .25rem !important;
}

.tagify__output {
    background-color: white;
}

.tagify__tag {
    margin: 5px 5px 5px 0 !important;
}

/* tagify 끝 */


a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

a:hover {
    color: black;
}


.login-title {
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.login-sub-title-divider {
    color: #96a0a5;
    margin-top: 0;
    margin-bottom: -.65rem;
}

.login-sub-title {
    color: #96a0a5;
    font-size: .938rem;
    margin-bottom: 2rem;
}

.login-sub-title > span {
    position: relative;
    background-color: #fff;
    padding: .25rem 1rem;
}


/* --- 헤더 ---*/
.main-header {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    height: 70px;
}

.main-header-logo, .login-logo {
    font-weight: 700;
    font-size: 2rem;
    color: #2c7be5;
}

@media (max-width: 767px) {
    .main-header {
        height: 60px;
    }

    .main-header-logo {
        font-size: 1.8rem;
    }

}


.main-search-button {
    font-size: 1.1rem;
    position: relative;
    color: #9eb0c2;
    border: 0;
    background-color: transparent;
    margin-right: -2.5rem;
    display: flex;
    transition: color .2s ease-in;
}

.main-search-form {
    margin-left: .75rem;
}

.main-search-bar {
    min-width: 400px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2rem;
    padding-left: 3rem;
    padding-bottom: .6rem;
    padding-top: .6rem;
    transition: box-shadow .2s ease-in, border-color .2s ease-in;
    background-color: #eef3fa !important;
}

@media (max-width: 767px) {
    .main-search-bar {
        min-width: auto;
    }
}


.main-search-bar:focus {
    box-shadow: 0px 3px 10px 0px rgba(15, 40, 65, 0.15);
    border: 1px solid #bcc8db;
    background-color: #eef3fa !important;
}

.main-search-bar:hover {
    box-shadow: 0px 3px 10px 0px rgba(15, 40, 65, 0.15);
    border: 1px solid #bcc8db;
}

.main-search-bar:focus > button {
    color: #505f6f !important;
}

.main-search-bar:hover > button {
    color: #505f6f !important;
}

.main-search-bar::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 1rem; /* Chrome/Opera/Safari */
}

.main-search-bar::-moz-placeholder {
    font-weight: 400;
    font-size: 1rem; /* Firefox 19+ */
}

.main-search-bar:-ms-input-placeholder {
    font-weight: 400;
    font-size: 1rem; /* IE 10+ */
}

.main-search-bar:-moz-placeholder {
    font-weight: 400;
    font-size: 1rem; /* Firefox 18- */
}


#login-btn {
    min-width: 52px;
    border-color: #2c7be5 !important;
}

#login-btn:hover {
    background-color: #2c7be5 !important;
    border-color: #439ff9 !important;
}

.main-header-profile-link::after {
    color: #909bab;
}

.main-header-profile-nickname {
    color: #6e7682;
    font-size: .938rem;
    font-weight: 500;
    letter-spacing: -.025rem;
}

.main-header-profile-dropdown {
    border-radius: .35rem;
    border-color: #e4eaf4;
    box-shadow: 0px 3px 10px 0px rgba(15, 40, 65, 0.15);
}

.dropdown-divider {
    border-color: #bcc8db;
}

.main-header-profile-dropdown > li > .dropdown-item {
    font-size: .938rem;
    color: #626f82;
    padding: .35rem 1.5rem;
}

.main-header-profile-dropdown > li > .dropdown-item:hover {
    background-color: transparent;
    color: #212529;
}


@media (max-width: 767px) {
    .main-header-profile-link.dropdown-toggle::after, .main-header-profile-nickname {
        display: none;
    }

    .main-header-profile-bar-icon {
        font-size: 1.25rem;
        color: #878d9f;
        display: inline-block !important;
    }

}


.admin-header {
    background-color: white;
    padding-top: 70px;
    padding-bottom: 10px;
    box-shadow: 1rem .1rem .1rem rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/*--- 헤더 끝---*/
/*--- 검색결과 네비바 ---*/
.nav-tabs .nav-link, nav .nav-link {
    color: #212529;
    position: relative;
    z-index: 2;
    border-top: 0.25rem solid transparent !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: 500;
}

.nav-link.active, .nav-link:focus, .nav-link:hover {
    color: black;
    border-top: 0.25rem solid #1B95E0FF !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
}

/*--- 검색결과 네비바 끝 ---*/

/* 검색결과 타이틀*/
.search-result-keyword {
    color: #325288;
}


/* 검색결과 인물 리스트  */
@media (max-width: 767px) {
    .person-related {
        -ms-overflow-style: none;
        width: 100% !important;
        overflow-x: auto;
        white-space: nowrap
    }

    .person-related::-webkit-scrollbar {
        height: .55rem;
    }

    .person-related::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: transparent;
    }

    .person-related::-webkit-scrollbar-thumb:hover {
        background-color: rgba(210, 210, 210, 0.3);
    }
}

.person-related > div {
    list-style: none;
    display: inline;
}

.person-related > div > a {
    margin: 0 1rem 1.5rem 0;
    border-radius: 0.5rem;
    background-color: white;
    display: inline-block;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(190, 190, 190, 0.19);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .5rem 1rem;
    transition: background-color .15s ease-in-out, border-color .3s ease-in-out;
}

.person-related > div > a:hover {
    border-color: rgb(161, 161, 161);
}

.person-related > div > a > .person-related-header {
    font-size: 0.8125rem;
    color: #6c757d;
    margin-bottom: -.1rem;
}

.person-related > div > a > .person-related-header > .person-category {
    /*border-radius: 3rem;
    padding: .1rem .4rem;
    border: 1px solid #b5b5b5;*/

}

.person-related > div > a > .person-related-body > .person-name {
    margin-right: .25rem;
}

/* 검색결과 인물 리스트 끝 */
.search-remark-table > #remark-row-1, .search-remark-table > .remark-empty {
    position: relative;
    z-index: 1;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    padding-top: 1.5rem;
}

/* 서브 페이지 네비게이션 */
.remark-page-count {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    font-size: .875rem;
    color: #6c757d;
}

.remark-page-count * {
    font-size: .875rem !important;
    margin: 0 .5rem !important;
}


.r-l-table-title {
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: .75rem;
    margin-top: 2.125rem;
    padding-left: .5rem;
}

@media (max-width: 575px) {
    .r-l-table-title {
        margin-top: 1.5rem;
        padding-left: 1rem;
    }
}

/* ------- 코멘트 박스 ------- */

.r-l-navigator-container {
    background-color: #fff;
    border: 1px solid #eef2f8;
    border-radius: .8rem;
    margin-bottom: .75rem;
    box-shadow: 0 10px 15px 0 rgba(15, 40, 65, 0.05);
    padding: .5rem;
}

.r-l-related-person-container {
    padding: .5rem;
    margin-bottom: 0;
}

.r-l-related-person-nav-empty {
    padding: .5rem 0;
}

.r-l-related-person-nav-empty > * {
    margin-bottom: 0;
}

.r-l-related-person-container > .r-l-related-person-nav-container {
    background-color: #eff3f8;
    border-radius: 2rem;
    /*border: 1px solid #eaf0f4;*/
    /*box-shadow: .25rem .25rem .25rem rgba(190, 190, 190, 0.2);*/
    margin: .35rem .25rem;
    transition: background-color .15s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
    display: inline-flex;
}

.r-l-related-person-container > .r-l-related-person-nav-container:hover {
    border-color: #bebebe;
    box-shadow: 0px 3px 8px 0px rgba(15, 15, 65, 0.13);
}

.r-l-related-person-nav {
    border-radius: 0.5rem;
    display: inline-block;
    padding: .4rem .8rem;
}

.r-l-related-person-nav-row {
    font-size: .75rem;
    color: #353e45;
}

.r-l-related-person-nav-name {
    font-size: 1rem;
    font-weight: 500;
}

.r-l-related-person-nav-job {
    font-size: .75rem;
}

.r-l-related-person-nav-more-btn-wrap {
    display: inline-flex;
    font-size: .875rem;
    color: #468fcc;
    margin: .5rem .5rem;
    align-items: center;
}

.r-l-related-person-nav-more-btn-container {
    display: flex;
    justify-content: flex-end !important;
}

.r-l-related-person-nav-more-btn-wrap > * {
    line-height: 0;
}

.r-l-related-person-nav-more-btn-icon {
    margin-left: .25rem;
    color: #9dc7ee;
    transition: margin-left .2s;
}

.r-l-related-person-nav-more-btn-wrap:hover {
    color: #1c5396 !important;
}

.r-l-related-person-nav-more-btn-wrap:hover > .r-l-related-person-nav-more-btn-icon {
    color: #1c5396
}

.r-l-related-person-add-btn {
    font-size: .938rem;
    color: #468fcc;
    padding-left: 1.25rem;
    /*padding-top: .5rem;*/
}

.r-l-related-person-add-btn:hover {
    color: #1c5396 !important;
}

.r-l-related-person-notice-container {
    font-weight: 400;
    font-size: .938rem;
    /*border: 1px solid #edf2f9;*/
    /*padding-left: 1.25rem;
    padding-right: 1rem;*/
}

.r-l-related-person-notice-add-btn {
    /*border: 1px solid #e3ebf6;*/
    color: #4b729c;
    padding-top: .125rem !important;
    padding-bottom: .125rem !important;
}

.r-l-related-person-notice-add-btn:hover {
    /*border: 1px solid #d2ddec;*/
    /*background-color: #f9fbfd;*/
}

.r-l-related-person-notice-add-btn:focus {
    box-shadow: none;
}


.nav-tabs-container {
    position: relative;
    z-index: 2;
    padding: 0;
    border: 0;
    margin-bottom: 0;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 12px 0 15px -4px rgba(15, 40, 65, 0.05), -12px 0 8px -4px rgba(15, 40, 65, 0.05);

}

.r-l-sorting {
    box-shadow: none;
    border-radius: .5rem;
    border: none;
    color: #81888f;
}

.r-l-sorting:focus, .r-l-sorting:active {
    box-shadow: none
}

.r-l-n-search-nav-container {
    position: relative;
    z-index: 2;
    margin: 0 0 -.7rem 0;
    border-bottom: 1px solid #eff3f4;
}

.r-l-n-search-nav-container > * {
    display: flex;
    justify-content: center;
    padding: 0;
}

@media (max-width: 575px) {
    .r-l-n-search-nav-container {
        margin-bottom: -.5rem;
    }

}

.r-l-n-search-nav {
    padding: .8rem;
    text-align: center;
    width: 100%;
}

.r-l-n-search-nav:hover {
    /*color: #95aac9 !important;*/
}

.r-l-n-search-nav > span {
    font-size: .938rem;
    color: #97a2b3 !important;
    padding-bottom: .9rem;
    border-bottom: 2px solid transparent;
    transition: color .2s ease-in-out, border-color .2s ease-in-out;
}

.r-l-n-search-nav.active > span {
    color: #12263f !important;
    font-weight: 600;
    border-bottom-color: #92a8c9;
}

.r-l-n-search-nav:hover > span {
    color: #12263f !important;
    font-weight: 600;
    border-bottom-color: #92a8c9;
}


.remark-page-wrap {
    margin-top: 1rem;
}

.r-d-table-container {
    margin-top: 1rem;
}

.r-l-t-row-container {
    position: relative;
    z-index: 1;
    padding: 1.25rem 1.25rem 1rem 1.25rem;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 1rem;
    margin: 0 0 2rem 0;
    box-shadow: 0 10px 20px 0 rgba(15, 40, 65, 0.1);
}

@media (max-width: 575px) {
    #remark-row-1 {
        padding-top: 1rem !important;
    }

    .r-l-t-row-container {
        margin-bottom: 1rem;
        padding: .75rem;
    }

    .r-d-t-row-container {
        padding: 1rem !important;
    }

}

.r-d-t-row-container {
    padding: 1.25rem;
}

/*#remark-row-1, .remark-empty {
    position: relative;
    z-index: 1;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
}*/


.r-l-t-first-row-container, .r-l-t-second-row-container {
    padding: 0;
}

.r-l-t-picture-container {
    display: flex;
    justify-content: end;
}

.r-l-t-first-col {
    display: table;
    width: 48px;
    flex-basis: 48px;
}

.r-l-t-picture-link {
    width: 48px;
    height: 48px;
    background-color: #c1c8d0;
    border: 1px solid rgba(0, 0, 0, 0.04);
    transition: background-color .3s, box-shadow .3s;
    border-radius: 50%;
    /*box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, .15);*/
}

.r-l-t-picture-link:hover {
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, .3);
    background-color: #637286;
}

@media (max-width: 575px) {
    .r-l-t-picture-link {
        width: 42px;
        height: 42px;
    }

    .r-l-t-first-col {
        width: 42px;
        flex-basis: 42px;
    }
}

@media (max-width: 360px) {
    .r-l-t-picture-link {
        width: 35px;
        height: 35px;
    }

    .r-l-t-first-col {
        width: 35px;
        flex-basis: 35px;
    }

    .r-l-t-second-col {
        padding: 0 .25rem 0 .5rem;
    }
}


.r-l-t-second-col {
    padding-left: .75rem;
    padding-right: .5rem;
}

.r-l-t-person-and-date-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: .25rem;
}

.r-l-t-person-and-alias-container {
    line-height: normal;
}

@media (max-width: 575px) {
    .r-l-t-person-and-alias-container {
        max-width: 75px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.r-l-t-person-name-link {
    font-size: 1.125rem;
    font-weight: 600;
    margin-right: .3rem;
}

.r-l-t-person-name-link:hover {
    text-decoration: underline;
}

@media (max-width: 575px) {
    .r-l-t-person-name-link {
        font-size: 1.068rem;
    }
}

.r-d-t-person-name-link {
    margin-right: .3rem;
    font-size: 1.25rem !important;
    font-weight: 600;
}

.r-d-t-person-name-link:hover {
    text-decoration: none;
}


.r-l-t-person-alias, .r-l-t-person-job, .r-l-t-date {
    color: #7f8a99;
    font-size: .815rem;
}

.r-d-t-person-alias-and-job-container {
    line-height: initial;
}

.r-d-t-person-job {
    font-size: .875rem;
    color: #96a0a5;
}

.r-d-t-person-alias-and-job-container > *, .r-d-t-date {
    font-size: .875rem;
    color: #96a0a5;
}

.r-d-t-date-container {
    line-height: initial;
}

.r-l-t-first-row-third-col {
    line-height: initial;
}

.tooltip {
    font-family: Pretendard, Noto Sans KR, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif !important;
    z-index: 98 !important;
    font-size: .75rem !important;

}

.tooltip-inner {
    background-color: #777f8c;
    color: #fff;
    box-shadow: 0 3px 10px 0 rgba(15, 40, 65, 0.15);
    border-radius: .5rem;
}

.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #777f8c !important;
}

.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #777f8c !important;
}

.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #777f8c !important;
}

.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #777f8c !important;
}

.r-l-t-info-icon {
    display: inline-flex;
    font-size: .873rem;
    color: #3f546f;
}

.r-l-t-info-picture {
    margin: .2rem .3rem 0 0;
    border: 1px solid gray
}

.r-l-t-info-nickname {
    font-size: .765rem !important;
    margin-top: .1rem;
}

.r-l-t-info-date {
    font-size: .7rem !important;
}

.r-l-t-share-btn {
    color: #909bab;
    height: 1.125rem;
}

.r-d-t-tag-container {
    margin-top: .3rem;
}

.r-l-t-tags {
    font-size: .813rem;
    display: inline-block;
    margin-bottom: .25rem;
    margin-right: .25rem;
    padding: .3rem .6rem;
    line-height: 1;
    color: #5893e2 !important;
    background-color: #f4f9ff;
    /*background-color: #faa99d;*/
    /*background-color: #75d1b8;*/
    border-radius: 25px;
    width: auto;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, font-weight .15s ease-in-out;
}


.r-l-t-tags:hover {
    font-weight: 500;
    color: #3b8bff !important;
    background-color: #ecf6ff !important;
}


.r-l-t-second-row-container {
    margin-top: .25rem;
}

.r-d-t-first-col {
    flex-basis: 23px;
}

.r-l-t-quote-icon-wrap {
    text-align: end;
}

.r-d-t-quote-icon-wrap {
}

.r-l-t-quote-icon {
    color: #bcc2c9;
    margin: 0 .4rem;
    font-size: 1rem;
}

#remark-row-1 {
    padding-top: 1.5rem;
}

.r-l-t-content {
    padding: 0;
    margin: 0;
    font-family: Pretendard, Noto Sans KR;
    font-weight: 400;
    font-size: 1rem;
    overflow: auto;
    /*white-space: pre-wrap;*/
    word-break: keep-all;
    cursor: pointer;
}

.r-d-t-content {
    font-size: 1.063rem !important;
    font-weight: 400 !important;
    cursor: text;
}


.r-l-t-source-btn {
    font-size: .963rem;
    color: #81b381;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.r-l-t-source-btn:hover {
    color: #81b381 !important;
    text-decoration: underline;
}

.r-l-t-source-btn-icon {
    margin-right: .125rem;
    font-size: .813rem !important;
    line-height: 0;
}

.r-l-t-source-link {
    font-size: .873rem !important;
    color: #fff !important;
}

.r-l-t-source-link:hover {
    text-decoration: underline;
}


.r-l-t-last-row-first-col {
    display: none;
}

.r-l-t-last-row-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1.5rem 0 60px;
}

.r-d-t-last-row-container {
    padding-top: 1.5rem;
}


.r-l-t-last-row-btn-container {
    margin-left: 1.25rem;
    transition: background-color .15s ease-in-out;
    border-radius: 2rem;
}

.r-l-t-last-row-btn-icon-wrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    border: 1px solid #d9e4f3;
    box-shadow: none !important;
    border-radius: 2rem;
    /*background-color: #f5f8fe;*/
    transition: color .15s linear, background-color .15s linear,
    border-color .15s linear, opacity .15s linear, box-shadow .15s linear;
    margin-right: .5rem;
}

.bookmark-icon-wrap {
    width: 50px;
}

@media (max-width: 767px) {
    .r-l-t-last-row-btn-icon-wrap {
        width: 66px;
        height: 30px;
    }

    .bookmark-icon-wrap {
        width: 44px;
    }

}

@media (max-width: 426px) {
    .r-l-t-last-row-btn-icon-wrap {
        width: 56px;
        height: 26px;
    }

    .bookmark-icon-wrap {
        width: 38px;
    }
}

.bookmark-active > .bookmark-icon-wrap {
    background-color: #fff9e9 !important;
    border-color: #ffd261;
    /*box-shadow: 0 0 1px 1px rgba(255, 100, 100, .4) !important;*/
}

.bookmark-active i {
    opacity: 1;
}


.r-l-t-last-row-btn {
    padding: 0;
    display: inline-block;
    white-space: nowrap;
}

.r-l-t-last-row-btn:focus {
    box-shadow: none;
}

.r-l-t-last-row-btn:hover > .r-l-t-last-row-btn-icon-wrap {
    background-color: #f6faff;
}

.r-l-t-last-row-btn:hover .r-l-t-last-row-btn-icon {
    opacity: 1
}

.r-l-t-last-row-btn:hover .r-l-t-last-row-btn-text {
    color: #383838;
}

.like-active > .like-icon-wrap {
    background-color: #e7f4ff !important;
    border-color: #99d1ff;
    /*box-shadow: 0 0 1px 1px rgba(0, 150, 225, .4) !important;*/
}

.like-active > .dislike-icon-wrap {
    background-color: #fff8f8 !important;
    border-color: #ffb8b8;
    /*box-shadow: 0 0 1px 1px rgba(255, 100, 100, .4) !important;*/
}

.like-active i {
    opacity: 1;
}

.like-active > .like-count {
    color: #01a6f7 !important;
    font-weight: 600;
}

.like-active > .dislike-count {
    color: #ff6262 !important;
    font-weight: 600;
}


.r-l-t-last-row-btn-icon {
    font-size: 1rem;
    color: #909bab;
    opacity: .35;
    transition: opacity .15s linear;
}

@media (max-width: 767px) {
    .r-l-t-last-row-btn-icon {
        font-size: .963rem;
    }
}

.r-l-t-like-icon {
    font-size: .9rem;
    color: #0fa4ec !important;
}

.r-l-t-dislike-icon {
    font-size: .9rem;
    color: #f37272 !important;
}

.r-l-t-last-row-comment-count-icon {
    font-size: 1.063rem;
    color: #192025 !important
}

.r-l-t-last-row-bookmark-icon {
    color: #fdc424;
}


.r-l-t-last-row-btn-text {
    margin-left: .35rem;
    color: #7f8792;
    font-size: .875rem;
    line-height: 0;
    transition: color .15s linear, font-weight .15s linear;

}

.r-l-t-last-row-btn-text-right {
    margin-left: .3rem !important;
}

.r-l-t-last-row-comment-count, .r-l-t-last-row-like-count, .r-l-t-last-row-dislike-count {
    /*width: 25px;*/
    display: inline-flex;
    letter-spacing: .02rem;
    margin-left: .35rem !important;
}

@media (max-width: 767px) {
    .r-l-t-last-row-container {
        padding: .75rem .5rem 0 60px;
    }
}

@media (max-width: 575px) {
    .r-l-t-last-row-container {
        padding: .75rem .5rem 0 54px;
    }
}

@media (max-width: 426px) {
    .r-l-t-last-row-container {
        padding-right: .5rem;
    }
}

@media (max-width: 360px) {
    .r-l-t-last-row-container {
        padding: .75rem .5rem 0 43px;
    }

    .r-l-t-last-row-comment-count, .r-l-t-last-row-like-count, .r-l-t-last-row-dislike-count {
        margin-left: .25rem !important;
    }

}


/* 코멘트 */

.r-l-t-border-bottom {
    color: #9aa7b1;
}

.r-c-table-container {
    /*padding: 0 2rem;*/
}

.r-c-count {
    font-size: .938rem;
    margin: .5rem 0;
}

.r-c-count-number {
    font-weight: 500;
    color: #73a3de;
}


.r-c-t-row-container {
    background-color: #f8fafd;
    border-radius: .5rem;
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
}

.r-c-t-row-reply-container {
    margin-left: 2rem;
    background-color: #f8f8f8;
}

.r-c-t-row-mine-container {
    box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, .2);
}

.r-c-t-first-row-container {
    line-height: normal;
    margin-bottom: .5rem;
}

.r-c-t-comment-writer {
    font-size: .875rem;
    font-weight: 600;
    margin-right: .5rem;
    color: #293648;
    letter-spacing: -.025rem;
}

.r-c-t-comment-date {
    font-family: Noto Sans KR, Pretendard, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif;
    font-size: .813rem;
    color: #a0acbc;
}

@media (max-width: 767px) {
    .r-c-t-comment-date {
        font-size: .715rem;
    }

}


.r-c-t-etc-btn-container {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.r-c-t-etc-btn-container > * {
    font-size: .875rem;
    color: #a0acbc !important;
}

.r-c-t-etc-btn-container > a:hover {
    color: #79adf1 !important;
}

.r-c-t-etc-btn-container > a:hover > .r-c-t-etc-btn-icon {
    color: #79adf1 !important;
}

.r-c-t-modify-btn-icon, .r-c-t-delete-btn-icon {
    /*margin-right: 0 !important;*/
}

.r-c-t-etc-btn-icon {
    font-size: .813rem;
    margin-right: .125rem;
    color: #c1ccdb;
    transition: color .15s ease-in-out;
}

.r-c-t-reply-btn, .r-c-t-modify-btn, .r-c-t-delete-btn {
    margin-right: .6rem;
}

.r-c-t-comment-reply-icon {
    margin-left: .25rem;
    margin-right: .5rem;
    color: #9cacc2;
    font-size: 1rem;
}

@media (max-width: 767px) {
    .r-c-t-etc-btn-container > * {
        font-size: .715rem;
    }

    .r-c-t-etc-btn-icon {
        font-size: .715rem;
    }

    .r-c-t-reply-btn, .r-c-t-modify-btn, .r-c-t-delete-btn {
        margin-right: .4rem;
    }

}


.r-c-t-writer {
    color: #6e90c1;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: -.025rem;
}

.r-c-t-comment-parent-nickname {
    font-size: .875rem;
    font-weight: 500;
    margin-right: .5rem;
    color: #8fa3c1;
}

.r-c-t-comment-content {
    font-family: Pretendard;
    font-weight: 300;
    font-size: .938rem;
    overflow: auto;
    white-space: pre-wrap;
    margin-bottom: 0;
    word-break: break-all;
}

.deleted-comment {
    color: #8c8f91 !important;
    font-style: italic;
    font-weight: 500;
}

.r-c-t-textarea-label {
    font-weight: 500;
    font-size: .875rem;
}

.r-c-t-textarea-container {
    /*padding-top: 1rem;*/
}

.r-c-t-child-modify-textarea-container {
    margin-left: 2rem !important;
}

.r-c-t-reply-textarea-container, .r-c-t-modify-textarea-container {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.r-c-t-textarea {
    font-size: .938rem;
    overflow-wrap: break-word;
    resize: none;
    border-color: #dde6f2;
}

.r-c-t-textarea:focus {
    box-shadow: none;
}

.r-c-t-textarea::placeholder {
    color: #96a0a5;
}

.r-c-t-textarea-disabled {
    cursor: pointer;
    background-color: #f0f5f9 !important;

}

.r-c-t-cancel-btn {
    margin-top: .35rem;
    background-color: #9eb0c2;
    color: #fff;
    margin-right: .35rem;
}

.r-c-t-cancel-btn:hover {
    background-color: #717e8a;
    color: #fff !important;
}


.r-c-t-save-btn {
    margin: .25rem;
    background-color: #5fa3e3;
    color: #fff;
}

.r-c-t-modify-cancel-btn {
    margin: .25rem;
}

.r-c-t-save-btn:hover {
    background-color: #487fb0;
    color: #fff !important;
}

.r-c-pagination-container > nav > ul {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

#comment-pagination-sm {
    display: none;
}

@media (max-width: 767px) {
    #comment-pagination {
        display: none;
    }

    #comment-pagination-sm {
        display: block;
    }
}


/* 페이징 */
#r-l-pagination-sm {
    display: none;
}

.pagination {
    justify-content: center;
    margin: 3rem 0 3rem 0;
}

.pagination > .page-item, .page-item.disabled {
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: #e7ebf0;
    margin: 0 .25rem;
    border-radius: .5rem !important;
    transition: background-color .15s ease-in-out;
}

.page-item > .page-link:active,
.page-item > .page-link:focus {
    box-shadow: none !important;
}

.page-item > .page-link, .page-item.active > .page-link, .page-item.disabled > .page-link {
    text-align: center;
    font-weight: 400;
    font-size: .813rem;
    color: #81888f !important;
    padding: 0 !important;
    background-color: transparent;
    border: none;
}

.page-item.active > .page-link {
    pointer-events: none;
}

.page-item.active {
    background-color: #5fa3e3;
    box-shadow: 2px 5px 10px 0px rgba(40, 70, 90, 0.3);
}

.page-item.active > .page-link {
    color: #fff !important;
}

.page-item.active.disabled, .page-item.active.disabled > .page-link {
    font-weight: 400;
}

.pagination > .page-item:hover {
    background-color: #5fa3e3;
}

.pagination > .page-item:hover > .page-link {
    color: #fff !important;
}

@media (max-width: 767px) {
    #r-l-pagination {
        display: none;
    }

    #r-l-pagination-sm {
        display: block;
    }

    .pagination {
        /*justify-content: space-between !important;*/
    }

}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

/* 페이지네이션 */


/* 페이지네이션 끝 */
/* 코멘트 공유 모달 */

.share-modal-title {
    font-weight: 400;
}

.remark-share-icon > a {
    font-size: .875rem;
    font-weight: 300;
    border: 1px solid transparent;
    display: block;
}

.remark-share-icon > a > img {
    width: 60px;
    height: 60px;
    margin: 1rem 1rem .3rem 1rem;
}

@media (max-width: 426px) {
    .remark-share-icon > a > img {
        width: 45px;
        height: 45px;
    }
}

.remark-share-icon > a > div {
    text-align: center;
    padding-bottom: .3rem;
}

.remark-share-icon > a:active {
    background-color: #eee;
    border: 1px solid #eee;
}

.remark-share-url-wrap {
    font-weight: 300;
    padding: 0 2rem;
}

.remark-share-url-wrap > input {
    font-weight: 300;
}


.search-highlight {
    font-weight: 600;
}

.search-tag-highlight {
    color: #357ad6;
    font-weight: 600;
}

.reporting-cm-origin-container, .reporting-cm-radios-container {
    padding: .5rem;
}

.reporting-cm-radios-container {
    margin-top: 1rem;
}

.reporting-cm-origin-writer-container, .reporting-cm-origin-content-container {
    word-break: break-all;
    display: flex;
}

.reporting-cm-origin-content-container {
    margin-top: .25rem;
}

.reporting-cm-origin-writer-label-wrap, .reporting-cm-origin-content-label-wrap {
    min-width: 55px;
    display: flex;
    justify-content: space-between;
    font-size: .875rem;
    color: #96a0a5;
}

.reporting-cm-origin-writer, .reporting-cm-origin-content {
    padding-left: .25rem;
    font-size: .875rem;
}

.reporting-cm-origin-writer {
    font-weight: 500;
    color: #4d5c70;
}


.reporting-cm-radios-container {
    border-top: 1px solid #eee;
}

.reporting-cm-radios-container > div {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.user-profile-header {
    margin-top: 2.125rem;
    padding-left: .5rem;
    font-size: 1.313rem;
    font-weight: 600;
}

@media (max-width: 575px) {
    .user-profile-header {
        padding-left: 1.5rem;
    }
}

.user-profile-body {
    padding: 1.5rem;
    margin-top: .75rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: .75rem;
    box-shadow: 0 10px 20px 0 rgba(15, 40, 65, 0.1);
}

.u-p-table {
    border-bottom: 1px solid #eee;
}

.u-p-t-row {
    border-top: 1px solid #eee;
    display: flex;
    word-break: keep-all;
}

.u-p-t-th {
    line-height: 1.75rem;
    font-size: .813rem;
    font-weight: 600;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    justify-content: start;
    border-right: 1px solid #eee;
    background-color: #f7f8fb;
    width: 130px;
    min-width: 130px;
}

.u-p-t-td {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.u-p-email {
    font-weight: 500;
}


.u-p-nickname-container {
    display: block !important;
}

.u-p-nickname-input-container {
    display: inline-flex;
}


.u-p-nickname-input {
}

.u-p-nickname-btn-container {
    display: flex;
}

.u-p-nickname-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, .25) !important;
}

.u-p-nickname-edit-btn {
    margin-left: .5rem;
    background-color: #5fa3e3;
    color: #fff;
}

.u-p-nickname-edit-btn:hover {
    background-color: #487fb0;
    color: #fff !important;
}

.u-p-nickname-edit-cancel-btn {
    margin-left: .5rem;
}

.u-p-nickname-edit-submit-btn {
    margin-left: .5rem;
    background-color: #2c7be5;
    color: #fff;
}

.u-p-nickname-edit-submit-btn:hover {
    background-color: #487fb0;
    color: #fff !important;
}

.u-p-nickname-notice {
    font-size: .875rem;
    font-weight: 400;
    color: #6b7275;
    padding: .25rem;
}

.u-p-nickname-error, .u-p-nickname-redundant-error {
    font-size: .875rem;
    font-weight: 500;
    color: #e86161;
    padding-left: .25rem;
    padding-top: .25rem;
}

.u-p-nickname-success {
    font-size: .875rem;
    font-weight: 500;
    color: #00a959;
    padding-left: .25rem;
    padding-top: .25rem;
}


@media (max-width: 426px) {
    .u-p-t-row {
        display: block;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .u-p-t-th {
        color: #95aac9;
        line-height: normal;
        background-color: transparent;
        padding: .5rem 0 0 1.25rem;
        border-right-color: transparent;
    }

    .u-p-t-td {
        display: flex;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .u-p-nickname-btn-container {
        display: flex;
        justify-content: flex-end;
    }
}

.u-p-created-date, .u-p-updated-date {
    color: #6b7275;
    font-size: .875rem;
}

.aside-menu-container {
    top: 6.5rem;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 1rem;
    margin: 2.125rem 0 8.6rem 0;
    box-shadow: 0 10px 20px 0 rgba(15, 40, 65, .1);
    z-index: auto;
}

@media (max-width: 976px) {
    .aside-menu-container {
        margin-bottom: 1rem !important;
    }
}


.aside-title {
    display: block;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: normal;
    padding: 1rem 1.25rem;
}

.aside-title i {
    color: #e93232;
    margin-right: .5rem;
}

.aside-remark-category-nav {
    padding: 0 .5rem;
    list-style: none;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
}

.aside-remark-category-nav-items {
    font-size: .938rem;
    text-align: center;
    padding: .25rem .5rem 1rem .75rem;
    cursor: pointer;
}

.aside-remark-category-nav-items span {
    padding-bottom: 1rem;
    border-color: transparent !important;
    font-weight: 400;
    transition: color .2s ease-in-out, border-color .2s ease-in-out;
    color: #97a2b3;
}

.aside-remark-category-nav-items:hover > span {
    border-bottom: 2px solid #92a8c9 !important;
    font-weight: 500;
    color: #12263f !important;
}

.aside-remark-category-nav-items.active > span {
    border-bottom: 2px solid #92a8c9 !important;
    font-weight: 500;
    color: #12263f !important;
}


.aside-remark-table {
    font-size: .938rem;
}

.aside-remark-table-row {
    padding: 1rem 1.25rem;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

.aside-remark-table-row:hover {
    background-color: #f6faff;
}

.aside-remark-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
}

.aside-remark-name {
    font-weight: 600;
    margin-right: .25rem;
}

.aside-remark-job {
    font-size: .815rem;
    color: #7f8a99;
}

.aside-remark-title-second-col-container {
    display: flex;
    font-size: .688rem;
}

.aside-remark-icon-container i {
    margin-right: .2rem;
    color: #c0cad5 !important;
}

.aside-remark-icon-container span {
    margin-right: .75rem;
}

.aside-remark-like-icon-container i {
    /*color: #77c5ef;*/
}

.aside-remark-dislike-icon-container i {
    /*color: #ffacac;*/
}


.aside-remark-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

