@media all and (max-width: 360px) {
    html {
        font-size: .875rem !important;
    }
}

@media all and (min-width: 361px) and (max-width: 575px) {
    html {
        font-size: .938rem !important;
    }
}

html {
    height: 100% !important;
}

body {
    /*padding-top: 70px;
    height: 100% !important;*/
    min-height: 100%;
    flex-direction: column !important;
    display: flex !important;
    font-family: Pretendard, Noto Sans KR, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif;
    font-style: normal;
    background-color: #f7fafc;
    overflow: scroll;
}

.dropdown-menu {
    z-index: 1021 !important;
}

.fieldError {
    transition: border-color 0.15s ease-in-out 0s;
    border: 2px solid #ff8383 !important;
    box-shadow: none !important;
}

.fieldError:focus {
    box-shadow: none;
    border: 2px solid #ff8383;
}

.fieldError + p {
    font-size: .875rem;
    font-weight: 500;
    color: #e86161;
    margin-left: .25rem;
}


/* 코멘트 등록 - 인물 자동완성 */
.close-autocompleted {
    text-align: center;
    width: 30px;
    line-height: 30px;
    font-size: 1.125rem;
    transition: .2s ease-out;
    cursor: pointer;
}

@media (max-width: 360px) {
    .close-autocompleted {
        line-height: 23.75px;
    }

}

.close-autocompleted:hover {
    color: red;
}


/* tagify 시작 */

.tagify--outside {
    border: 0 !important;
    margin: 0;
    padding: 0;
}

.tagify--outside .tagify__input {
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: .1s;
}

.tagify--outside .tagify__input:hover {
    border-color: var(--tags-hover-border-color);
}

.tagify--outside.tagify--focus .tagify__input {
    transition: 0s;
    border-color: var(--tags-focus-border-color);
}

.tagify__input {
    background-color: white;
    margin: 0 !important;
    border-radius: .25rem !important;
}

.tagify__output {
    background-color: white;
}

.tagify__tag {
    margin: 5px 5px 5px 0 !important;
}

/* tagify 끝 */


a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

a:hover {
    color: black;
}


.login-title {
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.login-sub-title-divider {
    color: #96a0a5;
    margin-top: 0;
    margin-bottom: -.65rem;
}

.login-sub-title {
    color: #96a0a5;
    font-size: .938rem;
    margin-bottom: 2rem;
}

.login-sub-title > span {
    position: relative;
    background-color: #fff;
    padding: .25rem 1rem;
}


/* --- 헤더 ---*/
.main-header {
    background: rgba(255, 255, 255, 0.95);
    /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);*/
    border-bottom: none;
    height: 65px;
    padding-top: 1rem;
    padding-bottom: .5rem;
    /*position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;*/
}

#mainLogo{
    width: 110px;
}

.login-header-logo{
    padding-top: .188rem;
    height: 60px;
}

.login-logo {
    width: 140px !important;
    padding: 2rem 0;
}


@media (max-width: 767px) {
    #mainLogo{
        width: 95px;
        margin-left: .75rem;
    }

    .login-logo {
        width: 130px !important;
        padding: 2rem 0;
    }

    .main-header {
        height: 55px;
        position: relative;
        top: 0;
        z-index: 1020;
        padding-top: .75rem;
        padding-bottom: .25rem;
    }

    .main-header-logo {
        padding-left: .75rem;
        font-size: 1.8rem;
    }
}

@media (max-width: 575px) {

    #mainLogo{
        width: 85px;
    }

    .login-header-logo{
        height: 35px;
    }

    .main-header {
        height: 50px;
        padding-top: .5rem;
        padding-bottom: .125rem;
    }

    .main-header-logo {
        font-size: 1.5rem;
    }
}


.main-search-button {
    font-size: 1.1rem;
    position: relative;
    color: #151616;
    border: 0;
    background-color: transparent;
    margin-right: -2.5rem;
    display: flex;
    transition: color .2s ease-in;
}

.main-search-form {
    margin-left: 1rem;
}

.main-search-bar {
    min-width: 400px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: .5rem;
    padding-left: 3rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    transition: box-shadow .2s ease-in, border-color .2s ease-in;
    background-color: #eef3fa !important;
}

@media (max-width: 767px) {
    .main-search-bar {
        min-width: auto;
        padding-top: .3rem;
        padding-bottom: .3rem;
    }

    .main-search-form {
        margin-left: .75rem;
    }

}

@media (max-width: 575px) {
    .main-search-bar {
        padding-left: 2.5rem;
    }
}


.main-search-bar:focus {
    box-shadow: 0px 3px 10px 0px rgba(15, 40, 65, 0.15);
    border: 1px solid #bcc8db;
    background-color: #eef3fa !important;
}

.main-search-bar:hover {
    box-shadow: 0px 3px 10px 0px rgba(15, 40, 65, 0.15);
    border: 1px solid #bcc8db;
}

.main-search-bar:focus > button {
    color: #505f6f !important;
}

.main-search-bar:hover > button {
    color: #505f6f !important;
}

.main-search-bar::-webkit-input-placeholder {
    font-weight: 400;
    font-size: .875rem; /* Chrome/Opera/Safari */
    line-height: initial;
}

.main-search-bar::-moz-placeholder {
    font-weight: 400;
    font-size: 1rem; /* Firefox 19+ */
}

.main-search-bar:-ms-input-placeholder {
    font-weight: 400;
    font-size: 1rem; /* IE 10+ */
}

.main-search-bar:-moz-placeholder {
    font-weight: 400;
    font-size: 1rem; /* Firefox 18- */
}


#login-btn {
    font-size: .813rem;
    font-weight: 500;
    color: #212529;
    min-width: 52px;
    border: 1px solid #e3ebf6;
    border-radius: .375rem;
    display: flex;
    align-items: center;
    padding: .375rem .625rem;
    word-break: keep-all;
}

#login-btn:hover {
    border: 1px solid #d2ddec;
    background-color: #f9fbfd;
}

#login-btn:focus{
    box-shadow: none;
}

.login-btn-icon{
    font-size: 1.063rem;
    color: #c1c8d0;
    margin-right: .375rem;
}

.main-header-profile {
    line-height: initial;
}

.main-header-profile-btn-icon{
    font-size: .938rem;
    color: #c1c8d0;
    line-height: initial;
    margin-right: .25rem;
}

.main-header-profile-link {
    border: 1px solid #e3ebf6;
    padding: .688rem .813rem;
    border-radius: .375rem;
    display: flex !important;
    align-items: center;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.main-header-profile-link:hover{
    border: 1px solid #d2ddec;
    background-color: #f9fbfd;
}

.main-header-profile-link::after {
    display: none;
    color: #909bab;
}

.main-header-profile-nickname {
    color: #212529;
    font-size: .813rem;
    font-weight: 500;
    letter-spacing: -.025rem;
}

.main-header-profile-dropdown {
    margin-top: .25rem !important;
    border-radius: .35rem;
    border-color: #e4eaf4;
    box-shadow: 0 2px 3px 0 rgba(15, 40, 65, 0.1);
}

.dropdown-divider {
    border-color: #bcc8db;
}

.main-header-profile-dropdown > li > .dropdown-item {
    font-size: .875rem;
    color: #151616;
    padding: .5rem 1.5rem;
    /*text-align: center;*/

    transition: color .3s ease-in-out, background-color .3s ease-in-out;

}

.main-header-profile-dropdown > li > .dropdown-item:hover {
    background-color: #f9fbfd;
    color: #157cd7;
}


@media (max-width: 767px) {

    #login-btn{
        margin-right: .75rem;
    }

    .main-header-profile-link.dropdown-toggle::after, .main-header-profile-nickname {
        display: none;
    }

    .main-header-profile-bar-icon {
        font-size: 1.25rem;
        color: #878d9f;
        display: inline-block !important;
        padding-right: .875rem;
    }

    .main-header-profile-link{
        border: none;
        padding: 0;
    }

    .main-header-profile-link:hover{
        background-color: transparent;
        border: none;
    }

    .main-header-profile a{
        display: flex !important;
        align-items: center;
    }

    .main-header-profile-btn-icon{
        display: none;
    }


}


/*--- 헤더 끝---*/

/*--- 서브바 시작 ---*/
.subNavbar {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(15 40 65 / 8%)
}

.subNav-menu-wrap {

    overflow-x: auto;
    -ms-overflow-style: none;
    white-space: nowrap;
}

.subNav-menu-wrap::-webkit-scrollbar {
    height: 0;
    padding-bottom: 0;
}

@media (max-width: 767px) {
    .subNavbar {
        padding-left: .75rem;
    }
}


.subNav-menu {
    list-style: none;
    display: inline-flex;
    margin-bottom: 0;
    padding-left: .25rem;
    padding-right: .25rem;
}

.subNav-menu-items {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    user-select: none;
    margin-right: .75rem;
    line-height: initial;
}

.subNav-menu-items a {
    display: inline-block;
    padding: .75rem .313rem .938rem .313rem;
}

.subNav-menu-items.main-menu span {
    color: #151616;
}

.subNav-menu-items.main-menu.hot {
    display: none;
}

.subNav-menu-items.main-menu.hot i {
    color: #f97c7c;
    font-size: .875rem;
}

@media (max-width: 991px) {
    .subNav-menu-items.main-menu.hot {
        display: block;
    }
}

.subNav-menu-items span {
    font-size: .938rem;
    font-weight: 600;
    color: #151616;
    padding-bottom: 1rem;
    border-bottom: 2px solid transparent;
    transition: color .15s ease-in-out, border .15s ease-in-out, border-bottom-width .15s ease-in-out !important;
}

.subNav-menu-items i {
    font-size: .975rem;
    margin-right: .188rem;
}

.subNav-menu-items:hover span {
    color: #1a78cb;
    /*border-bottom: 3px solid #72849d;*/
}

.subNav-menu-items.active{
    border-bottom: 2px solid #72849d;
}

.subNav-menu-bookmark {
    color: #fdc424;
    font-size: .938rem;
}

.subNav-menu-follow {
    color: #587caf;
    font-size: .938rem;
}


@media (max-width: 767px) {
    .subNav-menu-items span,.subNav-menu-follow {
        font-size: .875rem !important;
    }

    .subNav-menu-items.main-menu.hot i,.subNav-menu-bookmark {
        font-size: .813rem !important;
    }

    .subNav-menu-items{
        margin-right: .5rem;
    }

    .subNav-menu-items a {
        padding: .875rem .25rem .875rem .25rem;
    }

    .subNav-menu-items span {
        padding-bottom: .938rem;
    }
}

@media (max-width: 575px) {
    .subNav-menu-items a {
        padding: .75rem .188rem .75rem .188rem;
    }
}


/*--- 서브바 끝 ---*/

/*--- 검색결과 네비바 ---*/
.nav-tabs .nav-link, nav .nav-link {
    color: #212529;
    position: relative;
    z-index: 2;
    border-top: 0.25rem solid transparent !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: 500;
}

.nav-link.active, .nav-link:focus, .nav-link:hover {
    color: black;
    border-top: 0.25rem solid #1B95E0FF !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
}

/*--- 검색결과 네비바 끝 ---*/

/* 검색결과 타이틀*/
.search-result-keyword {
    color: #325288;
}



/* 서브 페이지 네비게이션 */
.remark-page-count {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    font-size: .875rem;
    color: #6c757d;

    margin-left: .25rem;
}

.remark-page-count * {
    font-size: .875rem !important;
    margin: 0 .5rem !important;
}


.r-l-table-title {
    font-size: 1.125rem;
    font-weight: 600;
    padding-bottom: .75rem;
    padding-top: 1.5rem;
    padding-left: .5rem;
    /*
    line-height: initial;
    */
}

.r-l-table-title-empty {
    margin-top: 1.5rem;
}

@media (max-width: 767px) {
    .r-l-table-title {
        padding-left: .75rem;
    }

    .r-l-table-title-empty {
        margin-top: .75rem;
    }

}

/* ------- 코멘트 박스 ------- */

.r-l-navigator-container {
    background-color: #fff;
    border-radius: .8rem;
    margin-bottom: .55rem;
    box-shadow: 0 3px 12px 0 rgba(15, 40, 65, 0.08);
    border: .0625rem solid rgba(231,234,243,.7);
    padding: .35rem .5rem;
}

@media (max-width: 767px) {
    .r-l-navigator-container {
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
}

@media (max-width: 575px) {
    .r-l-navigator-container {
        margin-bottom: .25rem;
        padding: .35rem .5rem;
    }
}


.r-l-related-person-container {
    padding: .5rem;
    margin-bottom: .5rem;

}

.r-l-related-person-nav-empty {
    padding: .5rem 0;
}

.r-l-related-person-nav-empty > * {
    margin-bottom: 0;
}

.r-l-related-person-container > .r-l-related-person-nav-container {
    background-color: #eff3f8;
    border-radius: 2rem;
    /*border: 1px solid #eaf0f4;*/
    /*box-shadow: .25rem .25rem .25rem rgba(190, 190, 190, 0.2);*/
    margin: .25rem .125rem;
    transition: background-color .15s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
    display: inline-flex;
}

.r-l-related-person-container > .r-l-related-person-nav-container:hover {
    background-color: #e4e9f1;
    /*border-color: #bebebe;
    box-shadow: 0px 3px 8px 0px rgba(15, 15, 65, 0.13);*/
}

.r-l-related-person-nav {
    border-radius: 0.5rem;
    display: inline-block;
    padding: .35rem .7rem;
}

.r-l-related-person-nav-row {
    font-size: .75rem;
    color: #353e45;
}

.r-l-related-person-nav-name {
    font-size: 1rem;
    font-weight: 600;
    color: #404248;
}

.r-l-related-person-nav-job {
    font-size: .75rem;
}

.r-l-related-person-nav-more-btn-wrap {
    display: inline-flex;
    font-size: .875rem;
    color: #468fcc;
    margin: .5rem .5rem;
    align-items: center;
}

.r-l-related-person-nav-more-btn-container {
    display: flex;
    justify-content: flex-end !important;
}

.r-l-related-person-nav-more-btn-wrap > * {
    line-height: 0;
}

.r-l-related-person-nav-more-btn-icon {
    margin-left: .25rem;
    color: #9dc7ee;
    transition: margin-left .2s;
}

.r-l-related-person-nav-more-btn-wrap:hover {
    color: #1c5396 !important;
}

.r-l-related-person-nav-more-btn-wrap:hover > .r-l-related-person-nav-more-btn-icon {
    color: #1c5396
}


.r-l-related-person-add-btn {
    font-size: .938rem;
    color: #468fcc;
    padding-left: 1.25rem;
    /*padding-top: .5rem;*/
}

.r-l-related-person-add-btn:hover {
    color: #1c5396 !important;
}

.r-l-related-person-notice-container {
    font-weight: 400;
}

.r-l-related-person-notice-add-btn {
    font-size: .938rem !important;
    color: #4b729c;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.r-l-related-person-notice-add-btn:hover {
}

.r-l-related-person-notice-add-btn:focus {
    box-shadow: none;
}


.nav-tabs-container {
    border-radius: 2rem !important;
    background-color: #fff;
    padding: 0;
    border: 0;
    margin-bottom: .875rem;
    box-shadow: 12px 0 15px -4px rgba(15, 40, 65, 0.05), -12px 0 8px -4px rgba(15, 40, 65, 0.05);

}

.r-l-sorting-container {
    line-height: initial
}

.r-l-sorting {
    box-shadow: none;
    border-radius: .5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
}

.r-l-sorting:focus, .r-l-sorting:active {
    box-shadow: none
}

@media (max-width: 575px) {
    /*
    .r-l-sorting {
        padding-top: .125rem;
        padding-bottom: .125rem;
    }
    */
}
.r-l-n-search-nav:hover{
    color: #fff;
}

.r-l-n-search-nav-container {
    --bs-gutter-x: 0;
    position: relative;
    z-index: 2;
}

.r-l-n-search-nav-container > * {
    display: flex;
    justify-content: center;
    padding: 0;
}



@media (max-width: 575px) {
    .r-l-n-search-nav-container {
        margin-bottom: -.5rem;
    }
}

.r-l-n-search-nav {
    padding: .25rem;
    text-align: center;
    width: 100%;
    border-radius: 2rem;
}

.r-l-n-search-nav:hover {
    /*color: #95aac9 !important;*/
}

.r-l-n-search-nav > span {
    font-size: .875rem;
    font-weight: 500;
    color: #515760;
    transition: color .2s ease-in-out, border-color .2s ease-in-out;
}
.r-l-n-search-nav.active{
    background-color: #72849d;
}

.r-l-n-search-nav.active > span {
    color: #fff !important;
}

.r-l-n-search-nav:hover > span {
    color: #212529;
    /*border-bottom-color: #92a8c9;*/
}

.r-d-table-container {
    margin-top: 1.5rem;
}

.r-l-t-row-container {
    position: relative;
    z-index: 1;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 1rem;
    margin: 0 0 .875rem 0;
    box-shadow: 0 3px 12px 0 rgba(15, 40, 65, 0.08);
    border: .0625rem solid rgba(231,234,243,.7);
}

@media (max-width: 767px) {

    .r-d-table-container {
        margin-top: 0rem;
    }

    #remark-row-1 {
        padding-top: 1rem !important;
    }

    .r-l-t-row-container {
        margin-right: .75rem;
        margin-left: .75rem;
        margin-bottom: .5rem;
        border-top: 1px solid #e6edf3;
        border-bottom: 1px solid #e6edf3;
        padding: .75rem;
        box-shadow: 2px 2px 10px 0 rgba(15, 40, 65, 0.12);
    }

    .r-d-t-row-container {
        padding: .75rem !important;
        margin-top: .75rem;
    }

    .r-d-t-bottom-btn-container{
        margin-right: .75rem;
    }

}

.r-d-t-row-container {
    padding: 1rem;
    margin-bottom: 1rem;
}

/*#remark-row-1, .remark-empty {
    position: relative;
    z-index: 1;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
}*/


.r-l-t-first-row-container, .r-l-t-second-row-container {
    padding: 0;
}

.r-l-t-picture-container {
    display: flex;
    justify-content: end;
}

.r-l-t-first-col {
    display: table;
    width: 45px;
    flex-basis: 45px;
}

.r-l-t-picture-link {
    width: 45px;
    height: 45px;
    background-color: #c1c8d0;
    border: 1px solid rgba(0, 0, 0, 0.04);
    transition: background-color .3s, box-shadow .3s;
    border-radius: 50%;
    /*box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, .15);*/
}

.r-l-t-picture-link:hover {
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, .3);
    background-color: #637286;
}

.r-l-t-picture{
    font-size: 1.4rem;
    color: #fff;
}

@media (max-width: 575px) {
    .r-l-t-picture-link {
        width: 42px;
        height: 42px;
    }

    .r-l-t-first-col {
        width: 42px;
        flex-basis: 42px;
    }

    .r-l-t-picture{
        font-size: 1.3rem;
    }

}

@media (max-width: 360px) {
    .r-l-t-picture-link {
        width: 35px;
        height: 35px;
    }

    .r-l-t-first-col {
        width: 35px;
        flex-basis: 35px;
    }

    .r-l-t-second-col {
        padding: 0 .25rem 0 .5rem;
    }
}


.r-l-t-second-col {
    padding-left: .75rem;
    padding-right: .5rem;
}

.r-l-t-person-and-date-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

}

.r-l-t-person-and-alias-container {
    line-height: normal;
}

@media (max-width: 575px) {
    .r-l-t-person-and-alias-container {
        max-width: 75px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.r-l-t-person-name-link {
    font-size: 1rem;
    font-weight: 600;
    margin-right: .3rem;
}

.r-l-t-person-name-link:hover {
    text-decoration: underline;
}

.r-d-t-person-name-link {
    margin-right: .3rem;
    font-size: 1.125rem !important;
    font-weight: 600;
}

.r-d-t-person-name-link:hover {
    text-decoration: none;
}


.r-l-t-person-alias, .r-l-t-person-job, .r-l-t-date {
    color: #7f8a99;
    font-size: .8125rem;
}

.r-d-t-person-alias-and-job-container {
    line-height: initial;
}

.r-d-t-person-job {
    font-size: .875rem;
    color: #96a0a5;
}

.r-d-t-person-alias-and-job-container > *, .r-d-t-date {
    font-size: .875rem;
    color: #96a0a5;
}

.r-d-t-date-container {
    line-height: initial;
}

.r-l-t-first-row-third-col {
    line-height: initial;
}

.tooltip {
    font-family: Pretendard, Noto Sans KR, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif !important;
    z-index: 98 !important;
    font-size: .75rem !important;

}

.tooltip-inner {
    background-color: #777f8c;
    color: #fff;
    box-shadow: 0 3px 10px 0 rgba(15, 40, 65, 0.15);
    border-radius: .5rem;
}

.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #777f8c !important;
}

.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #777f8c !important;
}

.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #777f8c !important;
}

.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #777f8c !important;
}

.r-l-t-info-icon {
    display: inline-flex;
    font-size: .813rem;
    color: #3f546f;
}

.r-l-t-info-picture {
    margin: .2rem .3rem 0 0;
    border: 1px solid gray
}

.r-l-t-info-nickname {
    font-size: .765rem !important;
    margin-top: .1rem;
}

.r-l-t-info-date {
    font-size: .7rem !important;
}

.r-l-t-share-btn {
    color: #909bab;
    height: 1.125rem;
}

.r-l-t-tag-container{
    line-height: initial;
}

.r-l-t-tags {
    font-size: .813rem;
    font-weight: 500;
    display: inline-block;
    margin-bottom: .188rem;
    margin-right: .5rem;
    color: #53B7D0 !important;
    width: auto;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, font-weight .15s ease-in-out;
}

.r-d-t-tags{
    font-size: .875rem;
    margin-bottom: .125rem;
}

@media (max-width: 767px) {
    .r-l-t-tags {
        word-break: break-all;
        margin-bottom: .125rem;
    }

    .r-d-t-tags{
        margin-bottom: .25rem;
    }

}



.r-l-t-tags:hover {
    font-weight: 500;
    color: #1C9CBC !important;
}


.r-d-t-second-row-container {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

@media (max-width: 767px) {
    .r-d-t-second-row-container {
        margin-top: 0;
        margin-bottom: .25rem;
    }
}


.r-d-t-first-col {
    flex-basis: 23px;
}

.r-l-t-quote-icon-wrap {
    text-align: end;
}

.r-d-t-quote-icon-wrap {
}

.r-l-t-quote-icon {
    color: #bcc2c9;
    margin: 0 .4rem;
    font-size: .875rem;
}

.r-l-t-content {
    padding: .125rem 0 0;
    margin: 0;
    font-family: Pretendard, Noto Sans KR;
    font-weight: 400;
    font-size: .938rem;
    overflow: auto;
    /*white-space: pre-wrap;*/
    word-break: keep-all;
    cursor: pointer;
    line-height: 1.4;
}

.r-d-t-content {
    font-size: 1.063rem !important;
    font-weight: 400 !important;
    cursor: text;
}

@media (max-width: 767px) {
    .r-l-t-content {
        word-break: break-all;
    }
    .r-d-t-content {
        line-height: 1.3;
    }

}


.r-l-t-source-btn {
    font-size: .875rem;
    /*color: #81b381;*/
    color: #7f8792;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
    border: 0;
    background-color: transparent;
}

.r-l-t-source-btn:hover {
    color: #212529 !important;
    text-decoration: underline;
}


.r-l-t-source-btn-icon {
    margin-right: .125rem;
    font-size: .813rem !important;
    line-height: 0;
}

.r-l-t-source-link {
    font-size: .873rem !important;
    color: #fff !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.r-l-t-source-link:hover {
    text-decoration: underline;
}


.r-l-t-last-row-first-col {
    display: none;
}

.r-l-t-last-row-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.5rem 0 60px;
}

.r-d-t-last-row-container {
    padding-top: 1.5rem;
}


.r-l-t-last-row-btn-container {
    margin-left: 1.25rem;
    transition: background-color .15s ease-in-out;
    border-radius: 2rem;
}

.r-l-t-last-row-btn-icon-wrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .375rem .75rem;
    /*width: 64px;
    height: 28px;*/
    border: .063rem solid #d9e4f3;
    box-shadow: none !important;
    border-radius: 2rem;
    /*background-color: #f5f8fe;*/
    transition: color .15s linear, background-color .15s linear,
    border-color .15s linear, opacity .15s linear, box-shadow .15s linear;
    margin-right: .5rem;
}

.r-d-t-last-row-btn-icon-wrap{
    padding: 0.438rem 1rem;
}

.r-d-t-last-row-btn-icon{
    font-size: .928rem;
}

.bookmark-icon-wrap {
    /*width: 40px;*/
}


@media (max-width: 426px) {
    .r-l-t-last-row-btn-icon-wrap {
        /*width: 56px;
        height: 26px;*/
    }

    .bookmark-icon-wrap {
        /*width: 38px;*/
    }
}

.bookmark-active > .bookmark-icon-wrap {
    background-color: #fff9e9 !important;
    border-color: #ffd261;
    /*box-shadow: 0 0 1px 1px rgba(255, 100, 100, .4) !important;*/
}

.bookmark-active i {
    opacity: 1;
}


.r-l-t-last-row-btn {
    padding: 0;
    display: inline-block;
    white-space: nowrap;
}

.r-l-t-last-row-btn:focus {
    box-shadow: none;
}

.r-l-t-last-row-btn:hover > .r-l-t-last-row-btn-icon-wrap {
    background-color: #f6faff;
}

.r-l-t-last-row-btn:hover .r-l-t-last-row-btn-icon {
    opacity: 1
}

.r-l-t-last-row-btn:hover .r-l-t-last-row-btn-text {
    color: #383838;
}

.like-active > .like-icon-wrap {
    background-color: #f3f9ff !important;
    border-color: #99d1ff;
    /*box-shadow: 0 0 1px 1px rgba(0, 150, 225, .4) !important;*/
}

.like-active > .dislike-icon-wrap {
    background-color: #fff9f9 !important;
    border-color: #ffb8b8;
    /*box-shadow: 0 0 1px 1px rgba(255, 100, 100, .4) !important;*/
}

.like-active i {
    opacity: 1;
}

.like-active > .like-count {
    color: #01a6f7 !important;
    font-weight: 600;
}

.like-active > .dislike-count {
    color: #ff6262 !important;
    font-weight: 600;
}


.r-l-t-last-row-btn-icon {
    font-size: .875rem;
    color: #909bab;
    opacity: .35;
    transition: opacity .15s linear;
}

.r-d-t-last-row-btn-icon{
    font-size: 1rem !important;
}

@media (max-width: 767px) {
    .r-l-t-last-row-btn-icon {
        font-size: .963rem;
    }
}

.r-l-t-like-icon {
    font-size: .875rem;
    color: #3ba9df !important;
}

.r-l-t-dislike-icon {
    font-size: .875rem;
    color: #ff8c8c !important;
}

.r-d-t-like-icon, .r-d-t-dislike-icon{
    font-size: .938rem !important;
}

.r-l-t-last-row-comment-count-icon {
    font-size: 1.063rem;
    color: #192025 !important
}

.r-l-t-last-row-bookmark-icon {
    font-size: .875rem;
    color: #fdc424;
}


.r-l-t-last-row-btn-text {
    margin-left: .35rem;
    color: #7f8792;
    font-size: .813rem;
    line-height: 0;
    transition: color .15s linear, font-weight .15s linear;
}

.r-d-t-last-row-btn-text{
    font-size: .938rem !important;
}

.r-l-t-last-row-btn-text-right {
    margin-left: .3rem !important;
}

.r-l-t-last-row-comment-count, .r-l-t-last-row-like-count, .r-l-t-last-row-dislike-count {
    /*width: 25px;*/
    display: inline-flex;
    letter-spacing: .02rem;
    margin-left: .35rem !important;
}

@media (max-width: 767px) {
    .r-l-t-last-row-container {
        padding: .5rem .75rem 0 60px;
    }
}

@media (max-width: 575px) {
    .r-l-t-last-row-container {
        padding: .5rem .75rem 0 54px;
    }
}

@media (max-width: 426px) {
    .r-l-t-last-row-container {
        padding-right: .55rem;
    }
}

@media (max-width: 360px) {
    .r-l-t-last-row-container {
        padding: .5rem .55rem 0 43px;
    }

    .r-l-t-last-row-comment-count, .r-l-t-last-row-like-count, .r-l-t-last-row-dislike-count {
        margin-left: .25rem !important;
    }

}


/* 코멘트 */

.r-l-t-border-bottom {
    color: transparent;
    height: 0 !important;
    border: 1px dashed #bcc7cf;
}

.r-c-table-container {
    /*padding: 0 2rem;*/
}

.r-c-count {
    font-size: .938rem;
    margin: .5rem 0;
}

.r-c-count-number {
    font-weight: 500;
    color: #73a3de;
}


.r-c-t-row-container {
    background-color: #f8fafd;
    border-radius: .5rem;
    padding: 1rem 1.25rem;
    margin-bottom: .5rem;
}

.r-c-t-row-reply-container {
    margin-left: 2rem;
    background-color: #f8f8f8;
}

.r-c-t-row-mine-container {
    box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, .2);
}

.r-c-t-first-row-container {
    line-height: normal;
    margin-bottom: .25rem;
}

.r-c-t-comment-writer {
    font-size: .875rem;
    font-weight: 600;
    margin-right: .5rem;
    color: #293648;
    letter-spacing: -.025rem;
}

.r-c-t-comment-date {
    font-family: Noto Sans KR, Pretendard, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif;
    font-size: .813rem;
    color: #a0acbc;
}

@media (max-width: 767px) {
    .r-c-t-comment-date {
        font-size: .715rem;
    }

}


.r-c-t-etc-btn-container {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.r-c-t-etc-btn-container > * {
    font-size: .875rem;
    color: #a0acbc !important;
}

.r-c-t-etc-btn-container > a:hover {
    color: #79adf1 !important;
}

.r-c-t-etc-btn-container > a:hover > .r-c-t-etc-btn-icon {
    color: #79adf1 !important;
}

.r-c-t-modify-btn-icon, .r-c-t-delete-btn-icon {
    /*margin-right: 0 !important;*/
}

.r-c-t-etc-btn-icon {
    font-size: .813rem;
    margin-right: .125rem;
    color: #c1ccdb;
    transition: color .15s ease-in-out;
}

.r-c-t-reply-btn, .r-c-t-modify-btn, .r-c-t-delete-btn {
    margin-right: .6rem;
}

.r-c-t-comment-reply-icon {
    margin-left: .25rem;
    margin-right: .5rem;
    color: #9cacc2;
    font-size: 1rem;
}

@media (max-width: 767px) {
    .r-c-t-etc-btn-container > * {
        font-size: .715rem;
    }

    .r-c-t-etc-btn-icon {
        font-size: .715rem;
    }

    .r-c-t-reply-btn, .r-c-t-modify-btn, .r-c-t-delete-btn {
        margin-right: .4rem;
    }

}


.r-c-t-writer {
    color: #6e90c1;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: -.025rem;
}

.r-c-t-comment-parent-nickname {
    font-size: .875rem;
    font-weight: 500;
    margin-right: .5rem;
    color: #8fa3c1;
}

.r-c-t-comment-content {
    font-family: Pretendard;
    font-weight: 300;
    font-size: .938rem;
    overflow: auto;
    white-space: pre-wrap;
    margin-bottom: 0;
    word-break: break-all;
    line-height: 1.4;
}

.deleted-comment {
    color: #8c8f91 !important;
    font-style: italic;
    font-weight: 500;
}

.r-c-t-textarea-label {
    font-weight: 500;
    font-size: .875rem;
}

.r-c-t-textarea-container {
    /*padding-top: 1rem;*/
}

.r-c-t-child-modify-textarea-container {
    margin-left: 2rem !important;
}

.r-c-t-reply-textarea-container, .r-c-t-modify-textarea-container {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.r-c-t-textarea {
    font-size: .938rem;
    overflow-wrap: break-word;
    resize: none;
    border-color: #dde6f2;
}

.r-c-t-textarea:focus {
    box-shadow: none;
}

.r-c-t-textarea::placeholder {
    color: #96a0a5;
}

.r-c-t-textarea-disabled {
    cursor: pointer;
    background-color: #f0f5f9 !important;

}

.r-c-t-cancel-btn {
    margin-top: .35rem;
    background-color: #9eb0c2;
    color: #fff;
    margin-right: .35rem;
}

.r-c-t-cancel-btn:hover {
    background-color: #717e8a;
    color: #fff !important;
}


.r-c-t-save-btn {
    margin-top: .375rem;
    margin-left: .375rem;
    background-color: #5fa3e3;
    color: #fff;
}

.r-c-t-modify-cancel-btn {
    margin-top: .375rem;
    margin-left: .375rem;
}

.r-c-t-save-btn:hover {
    background-color: #487fb0;
    color: #fff !important;
}

.r-c-pagination-container > nav > ul {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

#comment-pagination-sm {
    display: none;
}

@media (max-width: 767px) {
    #comment-pagination {
        display: none;
    }

    #comment-pagination-sm {
        display: block;
    }
}


/* 페이징 */
#r-l-pagination-sm {
    display: none;
}

.pagination {
    justify-content: center;
    margin: 3rem 0 3rem 0;
}

.pagination > .page-item, .page-item.disabled {
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: #e7ebf0;
    margin: 0 .25rem;
    border-radius: .5rem !important;
    transition: background-color .15s ease-in-out;
}

.page-item > .page-link:active,
.page-item > .page-link:focus {
    box-shadow: none !important;
}

.page-item > .page-link, .page-item.active > .page-link, .page-item.disabled > .page-link {
    text-align: center;
    font-weight: 400;
    font-size: .813rem;
    color: #81888f !important;
    padding: 0 !important;
    background-color: transparent;
    border: none;
    margin: 0 !important;
}

.page-item.active > .page-link {
    pointer-events: none;
}

.page-item.active {
    background-color: #72849d;
    box-shadow: 2px 5px 10px 0px rgba(40, 70, 90, 0.3);
}

.page-item.active > .page-link {
    color: #fff !important;
}

.page-item.active.disabled, .page-item.active.disabled > .page-link {
    font-weight: 400;
}

.pagination > .page-item:hover {
    background-color: #72849d;
}

.pagination > .page-item:hover > .page-link {
    color: #fff !important;
}

@media (max-width: 767px) {
    #r-l-pagination {
        display: none;
    }

    #r-l-pagination-sm {
        display: block;
    }

    .pagination {
        margin: 2rem 0 2rem 0;
        /*justify-content: space-between !important;*/
    }

}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

/* 페이지네이션 */


/* 페이지네이션 끝 */
/* 코멘트 공유 모달 */

.share-modal-title {
    font-weight: 400;
}

.remark-share-icon > a {
    font-size: .875rem;
    font-weight: 300;
    border: 1px solid transparent;
    display: block;
}

.remark-share-icon > a > img {
    width: 60px;
    height: 60px;
    margin: 1rem 1rem .3rem 1rem;
}

@media (max-width: 426px) {
    .remark-share-icon > a > img {
        width: 45px;
        height: 45px;
    }
}

.remark-share-icon > a > div {
    text-align: center;
    padding-bottom: .3rem;
}

.remark-share-icon > a:active {
    background-color: #eee;
    border: 1px solid #eee;
}

.remark-share-url-wrap {
    font-weight: 300;
    padding: 0 2rem;
}

.remark-share-url-wrap > input {
    font-weight: 300;
}


.search-highlight {
    font-weight: 700;
}

.search-tag-highlight {
    color: #1C9CBC;
    font-weight: 700;
}

.reporting-cm-origin-container, .reporting-cm-radios-container {
    padding: .5rem;
}

.reporting-cm-radios-container {
    margin-top: 1rem;
}

.reporting-cm-origin-writer-container, .reporting-cm-origin-content-container {
    word-break: break-all;
    display: flex;
}

.reporting-cm-origin-content-container {
    margin-top: .25rem;
}

.reporting-cm-origin-writer-label-wrap, .reporting-cm-origin-content-label-wrap {
    min-width: 55px;
    display: flex;
    justify-content: space-between;
    font-size: .875rem;
    color: #96a0a5;
}

.reporting-cm-origin-writer, .reporting-cm-origin-content {
    padding-left: .25rem;
    font-size: .875rem;
}

.reporting-cm-origin-writer {
    font-weight: 500;
    color: #4d5c70;
}


.reporting-cm-radios-container {
    border-top: 1px solid #eee;
}

.reporting-cm-radios-container > div {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.user-profile-header {
    margin-top: 2.125rem;
    padding-left: .5rem;
    font-size: 1.313rem;
    font-weight: 600;
}

@media (max-width: 575px) {
    .user-profile-header {
        padding-left: 1.5rem;
    }
}

.user-profile-body {
    padding: 1.5rem;
    margin-top: .75rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: .75rem;
    box-shadow: 0 10px 20px 0 rgba(15, 40, 65, 0.1);
}

.u-p-table {
    border-bottom: 1px solid #eee;
}

.u-p-t-row {
    border-top: 1px solid #eee;
    display: flex;
    word-break: keep-all;
}

.u-p-t-th {
    color: #727272;
    line-height: 1.75rem;
    font-size: .813rem;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    justify-content: start;
    border-right: 1px solid #eee;
    background-color: #f7f8fb;
    width: 130px;
    min-width: 130px;
}

.u-p-t-td {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.u-p-email {
    font-weight: 500;
}


.u-p-nickname-container {
    display: block !important;
}

.u-p-nickname-input-container {
    display: inline-flex;
}


.u-p-nickname-input {
}

.u-p-nickname-input:focus{
    box-shadow: none;
    border-color: #0095ff;
}

.u-p-nickname-btn-container {
    display: flex;
}

.u-p-nickname-edit-btn {
    margin-left: .5rem;
    background-color: #5fa3e3;
    color: #fff;
}

.u-p-nickname-edit-btn:hover {
    background-color: #487fb0;
    color: #fff !important;
}

.u-p-nickname-edit-cancel-btn {
    margin-left: .5rem;
}

.u-p-nickname-edit-submit-btn {
    margin-left: .5rem;
    background-color: #2c7be5;
    color: #fff;
}

.u-p-nickname-edit-submit-btn:hover {
    background-color: #487fb0;
    color: #fff !important;
}

.u-p-nickname-notice {
    font-size: .875rem;
    font-weight: 400;
    color: #6b7275;
    padding: .25rem;
}

.u-p-nickname-error, .u-p-nickname-redundant-error {
    font-size: .875rem;
    font-weight: 500;
    color: #e86161;
    padding-left: .25rem;
    padding-top: .25rem;
}

.u-p-nickname-success {
    font-size: .875rem;
    font-weight: 500;
    color: #00a959;
    padding-left: .25rem;
    padding-top: .25rem;
}


@media (max-width: 426px) {
    .u-p-t-row {
        display: block;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .u-p-t-th {
        color: #95aac9;
        line-height: normal;
        background-color: transparent;
        padding: .5rem 0 0 1.25rem;
        border-right-color: transparent;
    }

    .u-p-t-td {
        display: flex;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .u-p-nickname-btn-container {
        display: flex;
        justify-content: flex-end;
    }
}

.u-p-created-date, .u-p-updated-date {
    color: #6b7275;
    font-size: .875rem;
}

.aside-menu-container {
    top: 5.25rem;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 1rem;
    margin: 1.5rem 0 8.6rem 0;
    box-shadow: 0 3px 12px 0 rgba(15, 40, 65, 0.08);
    border: .0625rem solid rgba(231,234,243,.7);
    z-index: auto;
}

@media (max-width: 991px) {
    .aside-menu-container {
        display: none;
    }
}


@media (max-width: 991px) {
    .aside-menu-container {
        margin-bottom: 1rem !important;
    }
}


.aside-title {
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: normal;
    padding: 1rem 1.25rem .375rem 1.25rem;
}

.aside-title i {
    font-size: 1.063rem;
    color: #e93232;
    margin-right: .375rem;
}

.aside-remark-category-nav {
    padding: 0 1.5em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
}

.aside-remark-category-nav-items {
    font-size: .938rem;
    text-align: center;
    padding: .5rem .25rem .5rem .25rem;
    cursor: pointer;
}

.aside-remark-category-nav-items span {
    font-size: .875rem;
    padding-bottom: .65rem;
    border-color: transparent !important;
    font-weight: 400;
    transition: color .2s ease-in-out, border-color .2s ease-in-out;
    color: #97a2b3;
}

.aside-remark-category-nav-items:hover > span {
    border-bottom: 2px solid #72849d !important;
    font-weight: 500;
    color: #12263f !important;
}

.aside-remark-category-nav-items.active > span {
    border-bottom: 2px solid #72849d !important;
    font-weight: 500;
    color: #12263f !important;
}


.aside-remark-table {
    font-size: .938rem;
}

.aside-remark-table-row {
    padding: .625rem 1.25rem;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

.aside-remark-table-row.last {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-bottom: 1rem !important;
}

.aside-remark-table-row:hover {
    background-color: #f6faff;
}

.aside-remark-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .125rem;
}

.aside-remark-name {
    font-size: .875rem;
    font-weight: 600;
    margin-right: .188rem;
}

.aside-remark-job {
    font-size: .75rem;
    color: #7f8a99;
}

.aside-remark-title-second-col-container {
    display: flex;
    font-size: .688rem;
}

.aside-remark-icon-container i {
    margin-right: .2rem;
    color: #c0cad5 !important;
}

.aside-remark-icon-container span {
    margin-right: .75rem;
    color: #7f8792;
}

.aside-remark-like-icon-container i {
    /*color: #77c5ef;*/
}

.aside-remark-dislike-icon-container i {
    /*color: #ffacac;*/
}


.aside-remark-content {
    font-size: .875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer{
}

