
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src:local("@"),
    url('fonts/NotoSansKR-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/NotoSansKR-Light.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local("@"),
         url('fonts/NotoSansKR-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/NotoSansKR-Regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local("@"),
         url('fonts/NotoSansKR-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/NotoSansKR-Medium.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local("@"),
         url('fonts/NotoSansKR-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/NotoSansKR-Bold.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: normal;
    src: local("@"),
         url('fonts/NanumSquareR.woff2') format('woff2'),
         url("fonts/NanumSquareR.woff") format('woff'),
         url("fonts/NanumSquareR.ttf") format('ttf');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: bold;
    src: local("@"),
    url('fonts/NanumSquareB.woff2') format('woff2'),
    url("fonts/NanumSquareB.woff") format('woff'),
    url("fonts/NanumSquareB.ttf") format('ttf');
}


