@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 100;
    src:
    local('NotoSansKR'),
    url('fonts/NotoSansKr-Thin.eot'), /* IE9 Compat Modes */
    url('fonts/NotoSansKr-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/NotoSansKr-Thin.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/NotoSansKr-Thin.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 300;
    src:
    local('NotoSansKR'),
    url('fonts/NotoSansKr-Light.eot'), /* IE9 Compat Modes */
    url('fonts/NotoSansKr-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/NotoSansKr-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/NotoSansKr-Light.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 350;
    src:
    local('NotoSansKR'),
    url('fonts/NotoSansKr-DemiLight.eot'), /* IE9 Compat Modes */
    url('fonts/NotoSansKr-DemiLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/NotoSansKr-DemiLight.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/NotoSansKr-DemiLight.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src:
         local('NotoSansKR'),
         url('fonts/NotoSansKr-Regular.eot'), /* IE9 Compat Modes */
         url('fonts/NotoSansKr-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NotoSansKr-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/NotoSansKr-Regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 500;
    src:
         local('NotoSansKR'),
         url('fonts/NotoSansKr-Medium.eot'), /* IE9 Compat Modes */
         url('fonts/NotoSansKr-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NotoSansKr-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/NotoSansKr-Medium.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700;
    src:
         local('NotoSansKR'),
         url('fonts/NotoSansKr-Bold.eot'), /* IE9 Compat Modes */
         url('fonts/NotoSansKr-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NotoSansKr-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/NotoSansKr-Bold.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 900;
    src:
         local('NotoSansKR'),
         url('fonts/NotoSansKr-Black.eot'), /* IE9 Compat Modes */
         url('fonts/NotoSansKr-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NotoSansKr-Black.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/NotoSansKr-Black.woff') format('woff'); /* Modern Browsers */
}


@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/NanumSquareR.woff2') format('woff2'),
         url("fonts/NanumSquareR.woff") format('woff'),
         url("fonts/NanumSquareR.ttf") format('ttf');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/NanumSquareB.woff2') format('woff2'),
    url("fonts/NanumSquareB.woff") format('woff'),
    url("fonts/NanumSquareB.ttf") format('ttf');
}


