<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/topHeader :: topHeader"/>
<div th:replace="fragments/subHeader :: subHeader"/>
<div class="container container-custom">
    <div class="comment-page-wrap">
        </br>

        <div id="comment-scroll-position" class="py-2 d-flex justify-content-between align-items-center"
             style="grid-template-columns: 1fr 2fr;">
            <div class="comment-title d-flex">
                <h4>발언 목록</h4>
            </div>
            <span class="comment-page-count"></span>
        </div>

        <input id="search-pageNum" type="hidden" th:value="${page}">
        <!-- 코멘트테이블 -->
        <div class="row" id="comment-table-wrap">
            <div id="comment-table">
            </div>
        </div>

        <!-- 페이지네이션 -->
        <div class="comment-pagination" id="comment-pagination-container">
        </div>

    </div>
</div>
</div>


<!-- 공유 Modal -->
<script src="/js/admin/comment/commentList.js?ver=2021_07_08_003"></script>
<script>
    window.onpopstate = function (event) {
        if (main.oldHstate != null && main.oldHstate.page) {
            main.loadComment(main.oldHstate.page);
        }
    }
</script>
<div th:replace="fragments/shareModal :: shareModal"/>
<div th:replace="fragments/footer :: footer"/>

</div>
</div>
</body>
</html>