<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header"/>

<body>
<div th:replace="fragments/topHeader :: topHeader"/>
<style>
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div class="container container-custom col-md">

    </br>
    <div class="py-2 row">
        <h4>인물 정보 등록</h4>
    </div>
    </br>

    <form th:action="@{/admin/person/new}" th:object="${form}" method="post" class="row g-3">

        <!-- 이름 -->
        <div class="col-6">
            <label th:for="name" class="form-label">이름</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect data</p>
        </div>

        <!-- 성별 -->

        <!-- 본명, 가명, 별명 등-->
        <div class="col-12">
            <label th:for="alias" class="form-label">본명, 예명, 소속그룹</label>
            <input type="text" th:field="*{alias}" class="form-control" placeholder="본명, 예명, 소속그룹"
                   th:class="${#fields.hasErrors('alias')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('alias')}" th:errors="*{alias}">Incorrect data</p>
        </div>

        <!-- 직업 -->
        <div class="col-6">
            <label th:for="job" class="form-label">직업</label>
            <input type="text" th:field="*{job}" class="form-control" placeholder="인물의 직업을 입력하세요"
                   th:class="${#fields.hasErrors('job')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('job')}" th:errors="*{job}">Incorrect data</p>
        </div>

        <!-- 카테고리 -->
        <div class="col-6">
            <label th:for="categoryId" class="form-label">카테고리</label>
            <select th:field="*{category}" class="form-select">
                <option th:value="none">카테고리</option>
                <option th:value="|정치/사회|">정치/사회</option>
                <option th:value="|방송/연예|">방송/연예</option>
                <option th:value="스포츠">스포츠</option>
                <option th:value="문화">문화</option>
                <option th:value="창작물">창작물</option>
            </select>
        </div>

        <!-- 생년월일 -->
        <!-- 년 -->
        <label th:for="birthForm">생년월일</label>
        <div class="col-4 birthForm">
            <input type="number" th:field="*{birth.birth_year}" class="form-control"
                   placeholder="년(4자)" maxlength="4" min="0" oninput="yearMaxLength(this);">
        </div>

        <!-- 월 -->
        <div class="col-4">
            <input type="number" th:field="*{birth.birth_month}" class="form-control" placeholder="월" maxlength="2" min="0" oninput="monthMaxLength(this)">
        </div>

        <!-- 일 -->
        <div class="col-4">
            <input type="number" th:field="*{birth.birth_day}" class="form-control"
                   placeholder="일" maxlength="2" min="0" oninput="dayMaxLength(this);">
        </div>

        <!-- 요약 -->
        <div class="col-12">
            <label th:for="summary" class="form-label">기타</label>
            <textarea th:field="*{summary}" class="form-control" rows="3"></textarea>
        </div>

        <hr class="my-4">

        <!-- 저장버튼 -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary me-md-2">저장</button>
            <a href="javascript:history.back();" class="btn btn-outline-secondary">취소</a>
        </div>
    </form>
</div>
<br/>
<script type="text/javascript" th:src="@{/js/admin/person/person.js}"></script>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>