<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/header :: header(title=|${info.person.name} : 인물페이지|)">
<body th:object="${info}">
<div th:replace="fragments/topHeader :: topHeader"></div>
<div th:replace="fragments/subNavbar :: subNavbar"></div>

<div class="p-d-header-container container-xl">
    <div th:object="${info.person}">
        <div class="p-d-header d-flex justify-content-between">
            <div class="p-d-header-row-container d-flex align-items-top">
                <div class="p-d-profile-icon-container d-flex justify-content-end">
                    <div class="p-d-profile-icon-wrapper d-flex align-items-center justify-content-center">
                        <i class="p-d-profile-icon fas fa-user-alt"></i>
                    </div>
                </div>
                <div class="p-d-info-container">
                    <div class="p-d-name d-flex justify-content-between">
                        <span th:text="*{name}"></span>
                        <div sec:authorize="hasRole('ADMIN')" class="d-flex align-items-start">
                            <a class="p-d-modify-btn btn btn-sm" th:href="@{/admin/person/{id} (id=*{personId})}">편집</a>
                        </div>

                    </div>
                    <div class="p-d-job">
                        <span th:if="*{not #strings.isEmpty(alias)}" th:text="|*{alias} ｜|"></span>
                        <span th:text="*{job}"></span>
                    </div>

                    <div class="p-d-etc table-responsive">
                        <table class="table table-borderless table-sm">
                            <tbody>
                            <tr th:if="*{not #strings.isEmpty(birth.birth_year)
                                and not #strings.isEmpty(birth.birth_month)
                                and not #strings.isEmpty(birth.birth_day)}">
                                <th>출생</th>
                                <td>
                                    <span th:if="*{not #strings.isEmpty(birth.birth_year)}"
                                          th:text="|*{birth.birth_year}년 |"></span>
                                    <span th:if="*{not #strings.isEmpty(birth.birth_month)}"
                                          th:text="|*{birth.birth_month}월 |"></span>
                                    <span th:if="*{not #strings.isEmpty(birth.birth_day)}"
                                          th:text="|*{birth.birth_day}일 |"></span>
                                </td>
                            </tr>
                            <tr th:if="*{not #strings.isEmpty(summary)}">
                                <th>기타</th>
                                <td>
                                    <pre class="p-d-etc-summary" th:text="*{summary}"></pre>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xl">
    <div class="row">
        <div class="col-lg-8">
            <div class="p-d-body-container">

                <div th:if="*{yearList != null && yearList.size()>1}" class="p-d-year-container">
                    <a th:if="${yStat.index==0}" class="p-d-year tt" th:each="y : *{yearList}" th:text="|${y}|"
                       th:href="@{/person/{id}(id=${info.person.personId})}"
                       th:classappend="${cond.year==y} ? active"
                        th:title="|${y}년 발언|" data-bs-trigger="hover" data-bs-placement="bottom">
                    </a><a th:unless="${yStat.index==0}"class="p-d-year tt" th:each="y : *{yearList}" th:text="|${y}|"
                       th:href="@{/person/{id}(id=${info.person.personId},year=${y})}"
                       th:classappend="${cond.year==y} ? active"
                       th:title="|${y}년 발언|" data-bs-trigger="hover" data-bs-placement="bottom">
                    </a>
                </div>

                <div class="p-d-body">
                    <div th:if="*{not #lists.isEmpty(remarkList)}" class="p-d-r-row-container"
                         th:each="r : *{remarkList}">
                        <div class="p-d-r-first-row-container d-flex align-items-center justify-content-between">
                            <div class="p-d-r-date-wrap">
                                <span class="p-d-r-date" th:text="${r.remarkDate}"></span>
                            </div>
                            <!--<span class="p-d-r-first-row-divider">｜</span>-->
                            <div class="p-d-r-icons-container">
                                <a th:href="@{/remark/{id}(id=${r.remarkId})}" class="d-flex">
                                    <div class="p-d-r-icons-like"><i class="fas fa-thumbs-up"></i>&nbsp;<span
                                            th:text="${r.likeCount}"></span></div>
                                    <div class="p-d-r-icons-dislike"><i class="fas fa-thumbs-down"></i>&nbsp;<span
                                            th:text="${r.dislikeCount}"></span></div>
                                </a>
                                <a th:href="@{/remark/{id}#cmCont(id=${r.remarkId})}">
                                    <div class="p-d-r-icons-comments"><i class="far fa-comment-dots"></i>&nbsp;<span
                                            th:text="${r.commentCount}"></span></div>
                                </a>
                                <span class="p-d-r-icons-info tt bi bi-info-circle"
                                      data-bs-html="true" data-bs-placement="right"
                                      th:title="|<div class='d-flex align-items-center justify-content-center'>
                        <span class='r-l-t-info-nickname'>작성자 : ${r.nickname}</span>
                        </div>
                        <div><span class='r-l-t-info-date'>${r.createdDate} 등록됨</span></div>|"></span>
                            </div>
                        </div>

                        <div class="p-d-r-tags-wrap">
                            <a th:each="tag : ${r.remarkTagList}" th:href="@{/remark(keyword=${tag.name}, tab=3)}"
                               th:text="|#${tag.name}|" class="p-d-r-tags">
                            </a>
                        </div>

                        <div class="p-d-r-content-wrap d-flex">
                            <span class="p-d-r-content-quotation">&ldquo;&nbsp;</span>
                            <a th:href="@{/remark/{id} (id=${r.remarkId})}">
                                <p class="p-d-r-content" th:data-source="${r.sourceUrl}"
                                   th:utext="|${r.content} <span class='p-d-r-content-quotation'>&rdquo;</span>|"></p>
                            </a>
                        </div>

                        <hr th:class="|p-d-r-content-border-last-${rStat.last}|">
                    </div>
                    <div th:unless="*{not #lists.isEmpty(remarkList)}" class="p-d-r-row-container">
                        <h6 class="text-center my-5">등록된 발언이 없습니다.</h6>
                    </div>


                </div>

            </div>
        </div>
        <div th:replace="fragments/aside :: aside"/>

    </div>
</div>
</div>
<script>
    const contents = document.querySelectorAll(".p-d-r-content");

    contents.forEach(c => {
        const sourceIcon = "<button class='tt r-l-t-source-btn p-d-r-source-btn' data-bs-html='true' data-bs-placement='bottom' data-bs-trigger='click' " +
            "title='<a class=\"r-l-t-source-link\" href=\"" + c.dataset.source + "\" target=\"_blank\" rel=\"noopener noreferer nofollow\">" + c.dataset.source + "</a>'</a>" +
            "<i class='r-l-t-source-btn-icon fas fa-link'></i>출처</button>";

        $(c).append(sourceIcon)
    });

</script>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>