<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/header :: header(title=|${info.person.name} 발언 모음 : 인물페이지|, content=|${info.person.name} 인물 페이지. ${info.person.name} 인물정보, 연도별 ${info.person.name} 발언 모음.|)">
<body th:object="${info}">
<div th:replace="fragments/loginHeader :: loginHeader"></div>
<div th:replace="fragments/topHeader :: topHeader"></div>
<div th:replace="fragments/subNavbar :: subNavbar"></div>
<div class="container-xl person-detail-container">
    <div class="row">
        <div class="col-lg-8">
            <div class="p-d-header-container">
                <div th:object="${info.person}">
                    <div class="p-d-header d-flex justify-content-between">
                        <div class="p-d-header-row-container d-flex align-items-top">
                            <div class="p-d-profile-icon-container d-flex justify-content-end">
                                <div class="p-d-profile-icon-wrapper d-flex align-items-center justify-content-center">
                                    <i class="p-d-profile-icon fas fa-user-alt"></i>
                                </div>
                            </div>
                            <div class="p-d-info-container">
                                <div class="p-d-info-first-row d-flex justify-content-between">
                                    <span class="p-d-name" th:text="*{name}"></span>
                                    <div class="p-d-info-btn-container">
                                        <a sec:authorize="hasRole('ADMIN')" class="p-d-modify-btn btn"
                                           th:href="@{/admin/person/{id} (id=*{personId})}">편집</a>
                                        <span th:if="*{followId}" class="p-d-follow-btn btn followed tt"
                                              data-bs-placement="bottom" data-bs-trigger="hover" data-bs-title="팔로우 취소"><i
                                                class="fas fa-user-check"></i>팔로잉</span>
                                        <span th:unless="*{followId}" class="p-d-follow-btn btn tt"><i
                                                class="fas fa-user-plus"></i>팔로우</span>
                                    </div>
                                </div>
                                <div class="p-d-job-alias-container">
                                    <div class="p-d-alias-wrap">
                                        <th:block th:if="*{not #strings.isEmpty(aliasReps)}">
                                            <span class="p-d-alias" th:text="*{aliasReps}" th:title="*{alias}"></span>
                                        </th:block>
                                        <th:block th:unless="*{not #strings.isEmpty(aliasReps)}">
                                            <span class="p-d-alias" th:if="*{not #strings.isEmpty(alias)}" th:text="*{alias}"></span>
                                        </th:block>
                                    </div>
                                        <span class="p-d-alias-divider" th:if="*{not #strings.isEmpty(alias)}">|</span>
                                    <div class="p-d-job-wrap">
                                        <span class="p-d-job" th:text="*{job}"></span>
                                    </div>
                                </div>
                                <div class="p-d-etc table-responsive">
                                    <table class="table table-borderless table-sm">
                                        <tbody>
                                        <tr>
                                            <th><span th:if="*{not #strings.isEmpty(birthday)}" th:text="출생"></span></th>
                                            <td class="p-d-birth-container">
                                                <div class="p-d-birth-wrap">
                                                    <span th:text="*{birthday}"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr th:if="*{not #strings.isEmpty(summary)}">
                                            <th>기타</th>
                                            <td>
                                                <pre class="p-d-etc-summary" th:text="*{summary}"></pre>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-d-body-container">
                <div th:if="*{yearList != null && yearList.size()>1}" class="p-d-year-container">
                    <a th:if="${yStat.index==0}" class="p-d-year tt" th:each="y : *{yearList}"
                       th:text="|${y}|"
                       th:href="@{/person/{id}(id=${info.person.personId})}"
                       th:classappend="${cond.year==y} ? active"
                       th:title="|${y}년 발언|"
                       th:data-index="${yStat.index}"
                       data-bs-trigger="hover" data-bs-placement="bottom" >
                    </a><a th:unless="${yStat.index==0}" class="p-d-year tt" th:each="y : *{yearList}"
                           th:text="|${y}|"
                           th:href="@{/person/{id}(id=${info.person.personId},year=${y})}"
                           th:classappend="${cond.year==y} ? active"
                           th:title="|${y}년 발언|"
                           th:data-index="${yStat.index}"
                           data-bs-trigger="hover" data-bs-placement="bottom">
                    </a>
                </div>

                <div class="p-d-body">
                    <div th:if="*{not #lists.isEmpty(remarkList)}" th:class="|p-d-r-row-container p-d-r-content-border-last-${rStat.last}|"
                         th:each="r : *{remarkList}">
                        <div class="p-d-r-first-row-container d-flex align-items-center justify-content-between">
                            <div class="p-d-r-date-wrap">
                                <span class="p-d-r-date" th:text="${r.remarkDate}"></span>
                            </div>
                            <!--<span class="p-d-r-first-row-divider">｜</span>-->
                            <div class="p-d-r-icons-container">
                                <div class="d-flex">
                                    <div class="p-d-r-icons-like"><i
                                            class="icon-thumb-up"></i>&nbsp;<span class="p-d-r-icons-text"
                                            th:text="${r.likeCount}"></span></div>
                                    <div class="p-d-r-icons-dislike"><i class="icon-thumb-down"></i>&nbsp;<span class="p-d-r-icons-text"
                                            th:text="${r.dislikeCount}"></span></div>
                                </div>
                                <div>
                                    <div class="p-d-r-icons-comments"><i class="icon-comment"></i>&nbsp;<span class="p-d-r-icons-text"
                                            th:text="${r.commentCount}"></span></div>
                                </div>
                                <span class="p-d-r-icons-info tt fas fa-info-circle"
                                      data-bs-html="true" data-bs-placement="right"
                                      th:title="|<div class='d-flex align-items-center justify-content-center'>
                            <span class='r-l-t-info-nickname'>작성자 : ${r.nickname}</span>
                            </div>
                            <div><span class='r-l-t-info-date'>${r.createdDate} 등록됨</span></div>|"></span>
                            </div>
                        </div>

                        <div class="p-d-r-tags-wrap">
                            <a th:each="tag : ${r.remarkTagList}"
                               th:href="@{/remark(keyword=${tag.name}, tab=1)}"
                               th:text="|#${tag.name}|" class="p-d-r-tags">
                            </a>
                        </div>

                        <div class="p-d-r-content-container d-flex">
                            <span class="p-d-r-content-quotation">&ldquo;&nbsp;</span>
                            <div>
                                <span class="p-d-r-content" th:data-source="${r.sourceUrl}"
                                       th:text="${r.content}"></span>
                                <a class="p-d-r-content-link" th:href="@{/remark/{id} (id=${r.remarkId})}"></a>
                            </div>
                        </div>
                    </div>

                    <div th:unless="*{not #lists.isEmpty(remarkList)}" class="p-d-r-row-container">
                        <h6 class="text-center my-5">등록된 발언이 없습니다.</h6>
                    </div>
                </div>

                <div th:if="*{yearList != null && yearList.size()>1}" class="p-d-r-pagination-container">
                    <div class="p-d-r-pagination-left">
                        <a class="p-d-r-pagination-btn btn" th:if="*{prevYear>0}" th:utext="|<i class='fas fa-angle-left'></i> *{prevYear}년|" th:href="@{/person/{id} (id=*{person.personId},year=*{prevYear})}"></a>
                    </div>
                    <div class="p-d-r-pagination-right">
                        <a class="p-d-r-pagination-btn btn" th:if="*{nextYear>0}" th:utext="|*{nextYear}년 <i class='fas fa-angle-right'></i>|" th:href="@{/person/{id} (id=*{person.personId},year=*{nextYear})}"></a>
                    </div>
                </div>

            </div>

            <div class="position-fixed p-2 bottom-0 end-0" style="z-index: 11">
                <div id="liveToast" class="toast p-d-follow-toast" role="alert" aria-live="assertive" aria-atomic="false" data-bs-delay="3000">
                    <div class="d-flex">
                        <div class="toast-body">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div th:replace="fragments/aside :: aside"></div>
    </div>
</div>
<script th:inline="javascript">
    let followBtn = document.querySelector(".p-d-follow-btn");
    const personId = /*[[ ${info.person.personId} ]]*/;

    function followExec() {
        if(checkUser()){
            setSpinnerToBtn();
            fetchFollow().then(r => toggleBtn(r));
        }
    }

    function checkUser() {
        if (!/*[[ ${user} ]]*/) {
            location.href = "/oauth_login";
        }else {
            return true;
        }
    }

    async function fetchFollow() {
        const result = await fetch(`/api/person/${personId}/follow`, {
            method: "post",
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            }
        })
        try{
            return result.text();
        } catch (error){
            alert(JSON.stringify(error));
        }
    }

    function setSpinnerToBtn() {
        const spinner = document.createElement('div');
        spinner.className += "spinner-border spinner-border-sm";
        spinner.setAttribute('role', 'status');
        spinner.innerHTML = "<span class='visually-hidden'>Loading...</span>";
        followBtn.replaceChild(spinner, followBtn.firstChild);
        followBtn.classList.add('disabled');
    }

    function toggleBtn(r) {
        setTimeout(function (){
            if (r === "unfollowed") {
                let tooltip = bootstrap.Tooltip.getInstance(followBtn);
                tooltip.dispose();
                followBtn.classList.remove('tt');
                followBtn.classList.remove('followed');
                followBtn.setAttribute('data-bs-title','');
                followBtn.innerHTML = "<i class='fas fa-user-plus'></i>팔로우"
            } else {
                followBtn.classList.add('followed');
                followBtn.classList.add('tt');
                followBtn.setAttribute('data-bs-placement','bottom');
                followBtn.setAttribute('data-bs-trigger','hover');
                followBtn.setAttribute('data-bs-title','팔로우 취소');
                followBtn.innerHTML = "<i class='fas fa-user-check'></i>팔로잉";
                new bootstrap.Tooltip(followBtn);
            }
            followBtn.classList.remove('disabled');
            followBtn = document.querySelector(".p-d-follow-btn");
            toastTrigger();
        },300);
    }

    function popupUnfollowModal() {
        let modal = new bootstrap.Modal(document.getElementById('unfollowModal'))
        modal.show();
    }

    function toastTrigger(){
        const toastBody = document.querySelector(".toast-body");
        if(followBtn.classList.contains("followed")){
            toastBody.innerHTML= "<i class='fas fa-user-check followed'></i><span>팔로우 되었습니다.</span>";
        }else {
            toastBody.innerHTML= "<i class='fas fa-user-times unfollowed'></i><span>팔로우가 취소되었습니다.</span>";
        }
        const toastDom = document.getElementById('liveToast')
        if(!bootstrap.Toast.getInstance(toastDom)){
            const toast = new bootstrap.Toast(toastDom);
            toast.show()
        }else {
            const toast = bootstrap.Toast.getInstance(toastDom);
            toast.show()
        }
    }

    function openPersonInfoEditor(){

    }



    followBtn.addEventListener("click", followExec);
</script>
<script>
    const contents = document.querySelectorAll(".p-d-r-content");
    const quoteIcon = "<span class='p-d-r-content-quotation right'>&rdquo;</span>";
    contents.forEach(c => {
        c.addEventListener("click", function (e){
            location.href = c.nextElementSibling.getAttribute('href');
        })
        $(c).append(quoteIcon);
    });
</script>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>