<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/header :: header(isPerson=true)">
<body>
<div th:replace="fragments/loginHeader :: loginHeader"></div>
<div th:replace="fragments/topHeader :: topHeader(isPerson=true)"></div>
<div th:replace="fragments/subNavbarForPersonList :: subNavbar-person"></div>

<div class="container-xl">
    <div class="row">
        <div class="col-lg-8">
            <div class="p-l-container">
                <div class="p-l-index-nav-container">
                    <div class="p-l-index-nav-wrap">
                        <a class="p-l-index-nav" th:each="c : ${chs}" th:text="${c}"></a>
                    </div>
                </div>
                <div class="p-l-table-container">
                    <div class="p-l-table-spinner-container d-flex justify-content-center align-items-center">
                        <div class="spinner-border text-secondary" role="status">
                            <span class='visually-hidden'>Loading...</span>
                        </div>
                    </div>

                    <div class="p-l-table-wrap row row-cols-2">
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/aside :: aside"></div>
    </div>
</div>

<script th:inline="javascript">
    const category = /*[[ ${category} ]]*/;
    let currentIndexEl;
    let currentIndex;
    const listTableWrap = document.querySelector(".p-l-table-wrap");
    const spinner = document.querySelector(".p-l-table-spinner-container>.spinner-border");

    function initPage(){
        currentIndexEl = document.querySelectorAll('.p-l-index-nav')[0];
        currentIndex = currentIndexEl.text;
        currentIndexEl.classList.add("selected");
        loadPersonListExec(currentIndex);
    }

    function loadPersonListExec(index){
        getPersonList(index)
            .then(setPersonListTable);
    }

    async function getPersonList(index){
        const res = await fetch(`/api/person/${category}/${index}`, {
            method: "get"
        })
        try{
            return res.json();
        } catch (error) {
            alert(JSON.stringify(error));
        }
    }

    function setPersonListTable(list){
        list.forEach(list=>{
            const tableCol = document.createElement("div");
            const dot = document.createElement("i");
            const nameWrap = document.createElement("a");

            const nameSpan = document.createElement("span");
            const countSpan = document.createElement("span");
            const jobSpan = document.createElement("span");

            tableCol.setAttribute("class", "p-l-col col");
            dot.setAttribute("class", "bi bi-dot");
            nameWrap.setAttribute("class", "p-l-name-wrap");
            nameWrap.setAttribute("href","/person/"+list.id);
            tableCol.appendChild(dot);

            nameSpan.setAttribute("class", "p-l-name");
            nameSpan.innerText = list.name;
            countSpan.setAttribute("class", "p-l-count");
            countSpan.innerText = "(" + list.count + ")";
            jobSpan.setAttribute("class", "p-l-job");
            jobSpan.innerText = list.job;

            nameWrap.appendChild(nameSpan);
            nameWrap.appendChild(countSpan);

            tableCol.appendChild(nameWrap);
            tableCol.appendChild(jobSpan);

            listTableWrap.appendChild(tableCol);

            });

        hideSpinner();
    }

    function changeIndex(e){
        const tableCols = document.querySelectorAll(".p-l-col");
        currentIndexEl.classList.remove("selected");
        currentIndexEl = e;
        currentIndexEl.classList.add("selected");
        let thisIndex = e.innerText;
        currentIndex = thisIndex;

        tableCols.forEach(c=>{
            c.remove();
        })
        loadPersonListExec(thisIndex)
    }

    function hideSpinner(){
        spinner.style.display = 'none';
    }

    function showSpinner(){
        spinner.style.display = 'block'
    }


    document.addEventListener("DOMContentLoaded", initPage);
    document.querySelectorAll('.p-l-index-nav').forEach(n => {
        n.addEventListener("click", function (e){
            changeIndex(e.target);
        })
    })

</script>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>