
.p-d-header-container{
    padding-top: 1.5rem;
}

.p-d-header-container >div{
    box-shadow: 0 3px 12px 0 rgba(100, 100, 100, 0.08);
    border: .0625rem solid #f7f7f7;
    background-color: #fff;
    border-radius: .5rem;
}

.p-d-header-row-container{
    padding: 1.25rem 1.25rem 1.75rem 1.25rem;
    width: 100%;
}

@media (max-width: 767px) {

    .p-d-header-container{
        padding-top: .75rem;
        padding-left: 0;
        padding-right: 0;
    }


    .p-d-header-row-container{
        padding: 1.25rem 1.25rem;
    }

}




/* 인물 아이콘 */
.p-d-profile-icon-wrapper{
    width: 90px;
    height: 90px;
    background-color: #c1c8d0;
    border: 1px solid rgba(0, 0, 0, 0.04);
    transition: background-color .3s;
    border-radius: 50%;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, .2);
}



.p-d-profile-icon{
    font-size: 2.8rem;
    color: white;
}

@media (max-width: 767px) {
    .p-d-profile-icon-wrapper{
        width: 60px;
        height: 60px;
    }
    .p-d-profile-icon-wrapper.p-u{
        width: 40px;
        height: 40px;
    }

    .p-d-profile-icon{
        font-size: 2rem;
    }

    .p-d-profile-icon.p-u{
        font-size: 1.25rem;
    }
}

/* 인물 아이콘 끝 */

/* 인물 정보 */
.p-d-info-container{
    padding-left: 1rem;
    width: 100%;
}

@media (max-width: 767px) {
    .p-d-info-container{
        padding-left: .75rem;
    }
}

.p-d-info-container.p-u .form-label{
    font-size: .813rem;
    font-weight: 700;
    margin-bottom: .25rem;
    color: #333;
}
.p-d-info-container.p-u .form-control, .p-d-info-container.p-u .form-select{
    font-weight: 600;
    color: #666;
    border: 1px solid #e7e7e7;
    box-shadow: none;
    background-color: #f9fafb;
}

.p-d-info-container.p-u .form-control::placeholder{
    font-weight: 400;
    color: #a7a7a7;
}

.p-d-info-container.p-u .form-control:focus, .p-d-info-container.p-u .form-select:focus{
    color: #222222;
    border: 1px solid #0F76B7;
    background-color: transparent;
}

.p-d-info-container.p-u input[type="number"]::-webkit-outer-spin-button,
.p-d-info-container.p-u input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.birth-text{
    font-size: .875rem;
    font-weight: 600;
    color: #999;
    padding-left: .25rem;
    padding-right: .25rem;
}



.p-d-info-first-row{
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
}


.p-d-info-btn-container{
    display: flex;
    align-items: center;
    padding: .125rem .125rem 0;
}

.p-d-name{
    line-height: initial;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: .25rem;
}

.p-d-job-alias-container{
    color: #7f8a99;
    font-size: .875rem;
    padding-left: .125rem;
    display: flex;
    flex-wrap: wrap;
}

.p-d-alias-divider{
    color: #d6d8e1;
    padding: 0 .25rem;
}

.p-d-hr{
    width: 80%;
    color: #bcc7cf;
    margin: .5rem 0 !important;
}


.p-d-etc {
    padding-top: .375rem;
    padding-left: .125rem;
    display: inline-block;
}

.p-d-etc > table{
    font-size: .813rem;
    margin: 0;
    /*border-radius: .25rem;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 5%), 0 0 2px 0 rgb(0 0 0 / 7%);*/
}
.p-d-etc td, .p-d-etc th{
    padding: 0 .5rem 0 0;
}

.p-d-etc > table > tbody > tr > th {
    font-weight: 400;
    color: #a0acbc;
    white-space: pre;
}

.p-d-etc > table > tr >th:after {
    content: "";
    display: block;
    border-left: 1px solid #bcbcbc;
}

.p-d-etc-summary{
    font-family: Pretendard , Noto Sans KR, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif;
    font-size: .813rem;
    margin-bottom: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
}

@media (max-width: 767px) {
    .p-d-etc > table, .p-d-etc-summary{
        font-size: .813rem;
    }
}


.p-d-follow-btn{
    color: #363c40;
    display: flex;
    align-items: center;
    font-size: .813rem;
    font-weight: 600;
    border: 1px solid #EAEDF2;
    border-radius: .375rem;
    margin-left: .5rem;
    background-color: #EAEDF2;
}

.p-d-follow-btn:hover {
    background-color: #E2E7ED;
}

.p-d-follow-btn i{
    font-size: .713rem;
    line-height: initial;
    margin-right: .188rem;
}

.p-d-follow-btn .spinner-border{
    margin-right: .25rem;
}

.p-d-follow-btn.disabled{
    pointer-events: none;
}


.p-d-follow-btn.followed{
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #363c40;
    color: #363c40;
}
.p-d-follow-btn.followed:hover{
    background-color: #e7ebf0;
}

.p-d-follow-toast{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    border-color: transparent;
    border-radius: .25rem;
}

.p-d-follow-toast .toast-body{
    color: #fff;
    font-size: .938rem;
    padding: .95rem
}

.p-d-follow-toast .toast-body i {
    margin-right: .35rem;
}

.p-d-follow-toast .toast-body > .followed {
    color: #00a959;
}

.p-d-follow-toast .toast-body > .unfollowed {
    color: #dc3545!important;
}

.unfollow-modal-content{
    margin-bottom: 0;
    padding: 1rem .5rem;
    color: #4c545c;
}

.unfollow-modal-content i{
    margin-right: .25rem;
    font-size: 1.125rem;
    color: #dc3545;
}


.p-d-modify-btn{
    font-size: .813rem;
    font-weight: 600;
    border: 1px solid #e3ebf6;
    border-radius: .375rem;
    /*
    padding-top: .125rem !important;
    padding-bottom: .125rem !important;
    */
}

.p-d-modify-btn:hover {
    border: 1px solid #d2ddec;
    background-color: #f9fbfd;
}


.p-d-modify-btn:focus, .p-d-follow-btn:focus{
    box-shadow: none;
}

@media (max-width: 767px) {

    .p-d-name{
        margin-top: 0;
        font-size: 1.438rem;
    }

    .p-d-follow-btn{
        margin-left: .25rem;
    }

    .p-d-follow-btn, .p-d-modify-btn{
        font-size: .813rem;
        padding: .25rem .5rem;
    }
    .p-d-follow-btn i{
        font-size: .688rem;
    }
}


/* 인물 정보 끝 */

/* 발언 */

.p-d-body-container{
    margin-top: 1rem;
}

.p-d-body{
    padding-bottom: .5rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: .75rem;
    box-shadow: 0 3px 12px 0 rgba(100, 100, 100, 0.08);
    border: .0625rem solid #f7f7f7;
}

@media (max-width: 767px) {
    .p-d-body, .p-d-header-container >div{
        border-radius: 0;
        border-left-color: transparent;
        border-right-color: transparent;
    }

    .p-d-body-container{
        margin-top: .75rem;
    }

    .p-d-r-row-container{

    }
}

.p-d-year{
    font-size: .75rem;
    font-weight: 500;
    display: inline-block;
    padding: .25rem .713rem;
    border-radius: .25rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    border: 1px solid #d6d8da;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.p-d-year:hover, .p-d-year.active{
    font-weight: 400;
    color: #fff;
    background-color: #404243;
    border-color: transparent;
}

.p-d-year.active{
    /*pointer-events: none;*/
}

@media (max-width: 767px) {
    .p-d-year-container{
        padding-left: .75rem;
        padding-right: .75rem;
        margin-top: .75rem;
        overflow-x: auto;
        -ms-overflow-style: none;
        white-space: nowrap;
    }

    .p-d-year-container::-webkit-scrollbar {
        height: 0;
        padding-bottom: 0;
    }
}


.p-d-r-row-container{
    padding-top: 1rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #eee;
}

.p-d-r-content-border-last-true{
    border-color: transparent;
}

@media (max-width: 767px) {

    .p-d-r-row-container{
        padding-top: .75rem;
        padding-bottom: .875rem;
    }

    .p-d-r-content-border-last-false{
    }
}




.p-d-r-first-row-container{
    margin-bottom: .125rem;
}

.p-d-r-date-wrap{
    display: flex;
    align-items: center;
/*    position: relative;
    border-bottom-right-radius: .35rem;
    border-top-right-radius: .35rem;
    background-color: #f4f5f9;
    padding: .125rem 1rem .125rem 1.75rem;
    z-index: 2;
    margin-left: -1.5rem;*/
}
/*
.p-d-r-date{
    font-family: Noto Sans KR;
    font-size: .875rem;
    font-weight: 600;
    color: #7f8a99;
}
*/

.p-d-r-date{
    font-family: Noto Sans KR;
    font-size: .813rem;
    font-weight: 600;
    /*color: #777f8d;*/
}


.p-d-r-first-row-divider{
    margin:0 .25rem;
    display: flex;
    align-items: flex-end;
    color: #d2d8e0;
    user-select:none
}

.p-d-r-icons-container{
    padding-left: 1.35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    color: #999;
    font-size: .813rem;
}
.p-d-r-icons-container > div > div{
    margin-right: 1rem;
}
.p-d-r-icons-container > a{
    color: #bbb;
}

.p-d-r-icons-text{
    color: #999;
    font-size: .75rem;
}


.p-d-r-icons-like, .p-d-r-icons-dislike, .p-d-r-icons-comments {
    display: flex;
    align-items: center;
}

.p-d-r-icons-like > i {
    font-size: .813rem;
    /*color: #77c5ef;*/
    /*color: #338ebf;*/
}
.p-d-r-icons-dislike > i {
    font-size: .813rem;
    /*color: #ffacac;*/
    /*color: #fc7b7b;*/
}

.p-d-r-icons-info{
    font-size: .875rem;
    line-height: .813rem;
    color: #c9c9c9;
}

.p-d-r-tags-wrap{
    line-height: initial;
    overflow-x: auto;
    -ms-overflow-style: none;
    white-space: nowrap;
    width: 100% !important;
    margin-bottom: .188rem;
}

.p-d-r-tags-wrap::-webkit-scrollbar {
    height: 0;
    padding-bottom: 0;
}


.p-d-r-tags {
    font-size: .75rem;
    font-weight: 500;
    display: inline-block;
    margin-right: .25rem;
    color: #FF674A !important;
    width: auto;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, font-weight .15s ease-in-out;
    line-height: initial;
    padding: .0638rem .313rem;
    border-radius: 2rem;
    border: .025rem solid #FF674A;
}

.p-d-r-tags:hover{
    font-weight: 600;
    color: #FF310A !important;
}
.p-d-r-content-container{
    padding: .125rem 0 0 0;
}

.p-d-r-content-container>div{
    line-height: 1.35;
}

@media (max-width: 767px){
    .p-d-r-content-container>div{
        line-height: 1.25;
    }
}

.p-d-r-content-quotation{
    font-family: Noto Sans KR;
    font-weight: 700;
    color: #666;
    pointer-events: none;
}

.p-d-r-content-quotation.right{
    margin-left: .125rem;
}

.p-d-r-source-btn{
    font-size: .9rem !important;
    padding-right: .35rem;
}

@media (max-width: 990px) {
    .p-d-r-content-hyphen{
        display: none;
    }

}

.p-d-r-content {
    padding: 0;
    margin: 0;
    font-family: Pretendard, Noto Sans KR;
    font-weight: 400;
    font-size: .938rem;
    overflow: auto;
    line-height: 1.4;
    cursor: pointer;
    color: black;
}

.p-d-r-footer-container{
    padding: .5rem .5rem 0 .5rem;
    flex-wrap: wrap;
    font-size: .75rem;
    color: #a0acbc;
}

.p-d-r-footer-creator-container{
    display: flex;
    align-items: center;
}

.p-d-r-footer-cd-wrap{
    margin-left: .75rem;
}

.p-d-r-content-border{
    color: #9aa7b1;
    margin: 1rem 0;
}

.p-d-r-pagination-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    .p-d-r-pagination-container{
        padding-left: .75rem;
        padding-right: .75rem;
    }
}


.p-d-r-pagination-left, .p-d-r-pagination-right{
    padding: 0 .5rem;
}

.p-d-r-pagination-btn {
    font-size: .75rem;
    font-weight: 400;
    color: #333;
    padding: .313rem .5rem;
    border-radius: 0.25rem;
    border: 1px solid #d6d8da;
    display: inline;
}

.p-d-r-pagination-btn:focus{
    box-shadow: none;
}

.p-d-r-pagination-btn:hover{
    background-color: #404243;
    color: #fff;
}




