.p-d-header-container{
    /*border-bottom: 1px solid #e2e2e2;*/
    box-shadow: 0px 3px 15px 0px rgba(15, 13, 63, 0.05);
    background-color: #fff
}
.p-d-header-row-container{
    padding: 1.5rem 0;
    width: 100%;
}

@media (max-width: 575px) {
    .p-d-header-row-container{
        padding: 1.5rem .75rem;
    }

}




/* 인물 아이콘 */
.p-d-profile-icon-wrapper{
    width: 85px;
    height: 85px;
    background-color: #c1c8d0;
    border: 1px solid rgba(0, 0, 0, 0.04);
    transition: background-color .3s;
    border-radius: 50%;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, .2);
}


.p-d-profile-icon{
    font-size: 2.8rem;
    color: white;
}

@media (max-width: 575px) {
    .p-d-profile-icon-wrapper{
        width: 60px;
        height: 60px;
    }
    .p-d-profile-icon{
        font-size: 2rem;
    }
}

/* 인물 아이콘 끝 */

/* 인물 정보 */
.p-d-info-container{
    padding-left: 1.5rem;
    width: 100%;
}

.p-d-name{
    font-size: 1.75rem;
    font-weight: 600;
}

.p-d-job{
    color: #7f8a99;
    font-size: .938rem;
}


.p-d-etc {
    margin-top: .25rem;
    display: inline-block;
}

.p-d-etc > table{
    font-size: .875rem !important;
    margin: 0;
    /*border-radius: .25rem;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 5%), 0 0 2px 0 rgb(0 0 0 / 7%);*/
}

.p-d-etc > table > tbody > tr > th {
    font-weight: 400;
    color: #a0acbc;
    padding-right: .5rem;
    padding-left: 0;
    white-space: pre;
}

.p-d-etc > table > tr >th:after {
    content: "";
    display: block;
    border-left: 1px solid #bcbcbc;
}

.p-d-etc-summary{
    font-family: Pretendard , Noto Sans KR, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif;
    font-size: .875rem;
    margin-bottom: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
}

.p-d-modify-btn{
    border: 1px solid #e3ebf6;
    padding-top: .125rem !important;
    padding-bottom: .125rem !important;
}
.p-d-modify-btn:hover {
    border: 1px solid #d2ddec;
    background-color: #f9fbfd;
}

.p-d-modify-btn:focus{
    box-shadow: none;
}

/* 인물 정보 끝 */

/* 발언 */
.p-d-body{
    padding: var(--bs-gutter-x,1.5rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: .75rem;
    box-shadow: 0 10px 20px 0 rgba(15, 40, 65, 0.1);
}

@media (max-width: 575px) {
    .p-d-body{
        margin-top: .5rem;
    }

}


.p-d-r-row-container{
}

.p-d-r-date{
    font-size: .875rem;
    font-weight: 600;
    color: #7f8a99;
}

.p-d-r-tags-wrap{
    margin-top: .25rem;
}

.p-d-r-tags {
    font-size: .75rem;
    display: inline-block;
    margin-bottom: .3rem;
    margin-right: .3rem;
    padding: .3rem .6rem;
    line-height: 1;
    color: #8193a8 !important;
    background-color: #f4f7fa;
    border-radius: 25px;
    width: auto;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.p-d-r-tags:hover{
    color: #0067b8 !important;
    background-color: #edf1f6;
}

.p-d-r-icons-container{
    cursor: default;
    color: #919191;
    font-size: .813rem;
}
.p-d-r-icons-container > div{
    margin-right: .75rem;
}

.p-d-r-icons-like, .p-d-r-icons-dislike, .p-d-r-icons-comments {
    display: flex;
    align-items: center;
}

.p-d-r-icons-like > i {
    color: #338ebf;
}
.p-d-r-icons-dislike > i {
    color: #fc7b7b;
}

.p-d-r-icons-comments > i {
    color: #909bab;
}

.p-d-r-content-quotation{
    font-family: Noto Sans KR;
    font-weight: 700;
    margin: 0 .25rem;
    color: #9fa5ac;
}

@media (max-width: 990px) {
    .p-d-r-content-hyphen{
        display: none;
    }

}

.p-d-r-content {
    padding: 0;
    margin: 0;
    font-family: Pretendard;
    font-weight: 400;
    font-size: .983rem;
    /*overflow: auto;*/
    word-break: keep-all;
}

.p-d-r-footer-container{
    padding: .5rem .5rem 0 .5rem;
    flex-wrap: wrap;
    font-size: .75rem;
    color: #a0acbc;
}

.p-d-r-footer-creator-container{
    display: flex;
    align-items: center;
}

.p-d-r-footer-cd-wrap{
    margin-left: .75rem;
}

.p-d-r-content-border-last-true{
    display: none;
}

.p-d-r-content-border-last-false{
    color: #9aa7b1;
}

